Repository MicrosoftDocs/SCCMdocs, pull requests merged in 2019-04, with the labels that each got.

#1374 Added Clarity around Azure Resource Provider requirements.
  sccm/core/clients/manage/cmg/setup-cloud-management-gateway.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1378 Minor typo
  sccm/core/servers/manage/checklist-for-installing-update-1902.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1383 From private repo
  sccm/osd/understand/task-sequence-steps.md
  sccm/protect/deploy-use/create-deploy-application-guard-policy.md
Labels: Change sent to author, configmgr-protect/tech, configuration-manager/prod, do-not-merge

#1389 From private repo
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/plan-design/hierarchy/accounts.md
  sccm/core/servers/deploy/install/list-of-prerequisite-checks.md
  sccm/core/servers/manage/cmpivot-tsg.md
  sccm/core/servers/manage/cmpivot.md
  sccm/core/servers/manage/media/cmpivot-ad-delegation.png
  sccm/core/servers/manage/media/cmpivot-dviewaccess-group.png
  sccm/core/understand/find-help.md
  sccm/core/understand/media/1902-feedback-id-example.png
  sccm/core/understand/media/1902-offline-feedback-id-example.png
  sccm/develop/reference/TOC.yml
  sccm/develop/reference/core/clients/client-classes/iprogressui--closeprogressdialog-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--showactionprogress-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--showerrordialog-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--showmessage-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--showrebootdialog-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--showswapmediadialog-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--showtsprogress-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui-interface.md
  sccm/develop/reference/core/servers/configure/importmachineentrytomultiplecollections-method-in-class-sms_site.md
Labels: do-not-merge

#1390 Bumping the date
  sccm/develop/reference/core/clients/client-classes/iprogressui-interface.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1391 Update iprogressui--closeprogressdialog-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--closeprogressdialog-method.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1392 Update iprogressui--showerrordialog-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--showerrordialog-method.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1393 Update iprogressui--showmessage-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--showmessage-method.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1394 Update iprogressui--showswapmediadialog-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--showswapmediadialog-method.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1395 Update iprogressui--showtsprogress-method.md
  sccm/develop/reference/core/clients/client-classes/iprogressui--showtsprogress-method.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1396 Updated Date
  sccm/develop/reference/core/servers/configure/importmachineentrytomultiplecollections-method-in-class-sms_site.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1399 From private repo
  sccm/core/TOC.yml
  sccm/core/get-started/2019/includes/1903/3555764.md
  sccm/core/get-started/2019/includes/1903/3555774.md
  sccm/core/get-started/2019/includes/1903/3699337.md
  sccm/core/get-started/2019/includes/1903/4090666.md
  sccm/core/get-started/2019/includes/1903/4224414.md
  sccm/core/get-started/2019/includes/1903/known-issue-health.md
  sccm/core/get-started/2019/media/3555774-cmg-cost-estimator.png
  sccm/core/get-started/2019/technical-preview-1903.md
  sccm/core/get-started/capabilities-in-technical-preview-1810-2.md
  sccm/core/get-started/capabilities-in-technical-preview-1810.md
  sccm/core/get-started/capabilities-in-technical-preview-1811.md
  sccm/core/get-started/technical-preview.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/servers/manage/admin-console.md
  sccm/core/servers/manage/media/console-connections.png
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/overview.md
  sccm/desktop-analytics/troubleshooting.md
  sccm/desktop-analytics/tutorial-office-365.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1406 From private repo
  sccm/core/misc/in-console-documentation.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/servers/deploy/install/install-consoles.md
  sccm/desktop-analytics/app-health-analyzer.md
  sccm/desktop-analytics/compat-risk.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/deploy-pilot.md
  sccm/desktop-analytics/enroll-devices.md
  sccm/desktop-analytics/troubleshooting.md
  sccm/desktop-analytics/tutorial-office-365.md
  sccm/mdm/understand/whats-new-in-hybrid-mobile-device-management.md
  sccm/sum/plan-design/software-updates-best-practices.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1410 From private repo
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/sum/deploy-use/manage-office-365-proplus-updates.md
  sccm/sum/deploy-use/media/office-update-languages-selection.png
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1412 From private repo
  sccm/core/get-started/2019/includes/1902-2/3735402.md
  sccm/core/plan-design/changes/whats-new-in-version-1802.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/sum/TOC.yml
  sccm/sum/deploy-use/manage-office-365-proplus-updates.md
  sccm/sum/deploy-use/office-365-dashboard.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1414 From private repo
  sccm/compliance/TOC.yml
  sccm/compliance/deploy-use/media/onedrive-for-business-deploy-profile.png
  sccm/compliance/deploy-use/media/onedrive-for-business-profile-move-folder-settings.png
  sccm/compliance/deploy-use/media/onedrive-for-business-profile-select-platforms.png
  sccm/compliance/deploy-use/media/onedrive-for-business-profiles-node.png
  sccm/compliance/deploy-use/onedrive-profile.md
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/servers/manage/checklist-for-installing-update-1902.md
  sccm/osd/deploy-use/manage-windows-as-a-service.md
  sccm/sum/deploy-use/manage-office-365-proplus-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1421 From private repo
  sccm/core/clients/manage/cmg/plan-cloud-management-gateway.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/plan-design/hierarchy/ports.md
  sccm/core/servers/deploy/install/prerequisites-for-installing-sites.md
  sccm/desktop-analytics/about-updates.md
  sccm/desktop-analytics/compat-risk.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/create-deployment-plans.md
  sccm/desktop-analytics/set-up.md
  sccm/desktop-analytics/troubleshooting.md
  sccm/desktop-analytics/tutorial-office-365.md
  sccm/osd/deploy-use/use-multicast-to-deploy-windows-over-the-network.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1404 Update site-components.md to include Operating system deployment
  sccm/core/servers/deploy/configure/site-components.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1425 From private repo
  sccm/core/clients/manage/remote-control/remotely-administer-a-windows-client-computer.md
  sccm/core/migration/planning-a-source-hierarchy-strategy.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/plan-design/configs/supported-operating-systems-for-site-system-servers.md
  sccm/core/plan-design/security/plan-for-security.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1428 From private repo
  sccm/core/clients/manage/power/create-and-apply-power-plans.md
  sccm/core/plan-design/changes/whats-new-incremental-versions.md
  sccm/core/support/tools.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1430 From private repo
  sccm/mdm/understand/whats-new-in-hybrid-mobile-device-management.md
Labels: Change sent to author, configmgr-hybrid/tech, configuration-manager/prod, do-not-merge

#1431 From private repo
  sccm/comanage/media/co-mgmt-app-flow.png
  sccm/comanage/media/co-mgmt-overview.png
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/desktop-analytics/overview.md
  sccm/desktop-analytics/set-up.md
  sccm/desktop-analytics/tutorial-office-365.md
  sccm/osd/deploy-use/create-phased-deployment-for-task-sequence.md
  sccm/osd/deploy-use/manage-monitor-phased-deployments.md
  sccm/osd/deploy-use/media/1358577-phased-deployment-status.png
  sccm/osd/deploy-use/media/phased-deployment-criteria-for-success.png
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1433 From private repo
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/clients/deploy/configure-wake-on-lan.md
  sccm/core/clients/deploy/media/wol-site-properties.png
  sccm/core/clients/deploy/media/wol-wake-up-client-notification.png
  sccm/core/clients/deploy/plan/plan-wake-up-clients.md
  sccm/core/clients/manage/client-notification.md
  sccm/core/clients/manage/collections/manage-collections.md
  sccm/core/plan-design/changes/whats-new-in-version-1810.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/desktop-analytics/app-health-analyzer.md
  sccm/desktop-analytics/set-up.md
  sccm/desktop-analytics/tutorial-office-365.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1435 From private repo
  sccm/core/misc/mms2019docathon.md
  sccm/desktop-analytics/overview.md
  sccm/sum/deploy-use/integrate-windows-update-for-business-windows-10.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1437 From private repo
  sccm/sum/deploy-use/third-party-software-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1436 Fix the Troubleshooting CMPivot links
  sccm/core/servers/manage/cmpivot.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1438 From private repo
  sccm/desktop-analytics/about-assets.md
  sccm/desktop-analytics/about-deployment-plans.md
  sccm/desktop-analytics/about-updates.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/create-deployment-plans.md
  sccm/desktop-analytics/deploy-pilot.md
  sccm/desktop-analytics/deploy-prod.md
  sccm/desktop-analytics/enable-data-sharing.md
  sccm/desktop-analytics/enroll-devices.md
  sccm/desktop-analytics/faq.md
  sccm/desktop-analytics/health-status-monitoring.md
  sccm/desktop-analytics/media/da-data-flow-v1.png
  sccm/desktop-analytics/media/deployment-plan-overview.png
  sccm/desktop-analytics/media/diagnostic-data-levels.png
  sccm/desktop-analytics/media/feature-updates.png
  sccm/desktop-analytics/media/monitor-health.png
  sccm/desktop-analytics/media/office-add-in-health-status-factors.png
  sccm/desktop-analytics/media/office-macros-health-status-factors.png
  sccm/desktop-analytics/media/portal-home.png
  sccm/desktop-analytics/media/prepare-production.png
  sccm/desktop-analytics/media/prod-deployment-status.png
  sccm/desktop-analytics/media/security-updates.png
  sccm/desktop-analytics/media/wa-data-flow-v1.png
  sccm/desktop-analytics/overview.md
  sccm/desktop-analytics/privacy.md
  sccm/desktop-analytics/set-up.md
  sccm/desktop-analytics/toc.yml
  sccm/desktop-analytics/troubleshooting.md
  sccm/desktop-analytics/tutorial-windows10.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1441 From private repo
  sccm/comanage/coexistence.md
  sccm/comanage/overview.md
  sccm/comanage/toc.yml
  sccm/core/plan-design/changes/features-and-capabilities.md
  sccm/core/plan-design/hierarchy/accounts.md
  sccm/desktop-analytics/about-deployment-plans.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1445 From private repo
  sccm/core/TOC.yml
  sccm/core/get-started/2019/includes/1904/2839943.md
  sccm/core/get-started/2019/includes/1904/3555890.md
  sccm/core/get-started/2019/includes/1904/3555935.md
  sccm/core/get-started/2019/includes/1904/3555950.md
  sccm/core/get-started/2019/includes/1904/4021125.md
  sccm/core/get-started/2019/includes/1904/4062619.md
  sccm/core/get-started/2019/includes/1904/4110109.md
  sccm/core/get-started/2019/includes/1904/4224642.md
  sccm/core/get-started/2019/media/3555935-join-community-hub.png
  sccm/core/get-started/2019/media/4021125-o365-dashboard.png
  sccm/core/get-started/2019/technical-preview-1904.md
  sccm/core/get-started/capabilities-in-technical-preview-1812.md
  sccm/core/get-started/technical-preview.md
  sccm/desktop-analytics/tutorial-windows10.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge
