Repository MicrosoftDocs/SCCMdocs, pull requests merged in 2019-08, with the labels that each got.

#1778 From private repo
  sccm/apps/deploy-use/app-approval.md
  sccm/core/plan-design/configs/site-and-site-system-prerequisites.md
  sccm/core/plan-design/hierarchy/delivery-optimization-in-network-cache.md
  sccm/core/plan-design/hierarchy/media/3555764-delivery-optimization-in-network-cache.png
  sccm/core/plan-design/hierarchy/the-content-library.md
  sccm/core/servers/deploy/configure/azure-services-wizard.md
  sccm/core/servers/deploy/configure/configure-discovery-methods.md
  sccm/core/servers/deploy/install/prerequisites-for-installing-sites.md
  sccm/core/servers/deploy/install/release-notes.md
  sccm/desktop-analytics/deploy-pilot.md
  sccm/desktop-analytics/media/app-risk-assessment-sources.png
  sccm/desktop-analytics/troubleshooting.md
  sccm/desktop-analytics/tutorial-windows10.md
Labels: do-not-merge

#1781 fix typo
  sccm/apps/deploy-use/app-approval.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#1783 From private repo
  sccm/comanage/media/co-management-apps.svg
  sccm/comanage/media/co-management-overview.png
  sccm/comanage/media/co-management-overview.svg
  sccm/comanage/media/co-mgmt-app-flow.png
  sccm/comanage/media/co-mgmt-overview.png
  sccm/comanage/overview.md
  sccm/comanage/workloads.md
  sccm/core/servers/manage/checklist-for-installing-update-1702.md
  sccm/core/servers/manage/cmpivot.md
  sccm/develop/compliance/about-authoring-configuration-baselines-and-configuration-items.md
Labels: do-not-merge

#1780 Wrong Windows 10 release number mentioned
  sccm/protect/deploy-use/create-deploy-application-guard-policy.md
Labels: Change sent to author, assessing (C&L), configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#1745 Updated to Microsoft Product Lifecycle.
  sccm/core/plan-design/configs/support-for-sql-server-versions.md
Labels: Change sent to author, assessing (C&L), configmgr-other/tech, configuration-manager/prod, do-not-merge

#1509 Updated supported versions of SQL following MVP DL thread
  sccm/core/plan-design/configs/support-for-sql-server-versions.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1788 From private repo
  sccm/core/clients/manage/cmg/plan-cloud-management-gateway.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, do-not-merge

#1674 Update configure-wake-on-lan.md
  sccm/core/clients/deploy/configure-wake-on-lan.md
Labels: Change sent to author, assessing (C&L), configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1793 Fixed typo
  sccm/develop/core/understand/introduction-to-wbemtest.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1798 From private repo
  sccm/core/plan-design/configs/support-for-windows-10.md
  sccm/core/servers/manage/management-insights.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1802 From private repo
  .openpublishing.redirection.json
  sccm/core/TOC.yml
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/misc/in-console-documentation.md
  sccm/core/plan-design/hierarchy/data-transfers-between-sites.md
  sccm/core/plan-design/hierarchy/database-replication.md
  sccm/core/plan-design/hierarchy/file-based-replication.md
  sccm/core/servers/deploy/configure/configure-sites-and-hierarchies.md
  sccm/core/servers/manage/checklist-for-installing-update-1602.md
  sccm/core/servers/manage/checklist-for-installing-update-1606.md
  sccm/core/servers/manage/checklist-for-installing-update-1802.md
  sccm/core/servers/manage/checklist-for-installing-update-1806.md
  sccm/core/servers/manage/checklist-for-installing-update-1810.md
  sccm/core/servers/manage/checklist-for-installing-update-1902.md
  sccm/core/servers/manage/checklist-for-installing-update-1906.md
  sccm/core/servers/manage/data-transfers-between-sites.md
  sccm/core/servers/manage/data-warehouse.md
  sccm/core/servers/manage/monitor-hierarchy-and-replication-infrastructure.md
  sccm/core/servers/manage/monitor-hierarchy.md
  sccm/core/servers/manage/monitor-replication.md
  sccm/core/servers/manage/reference-for-maintenance-tasks.md
  sccm/core/servers/manage/replication/global-data-reinit.md
  sccm/core/servers/manage/replication/media/global-data-reinit.svg
  sccm/core/servers/manage/replication/media/overview.png
  sccm/core/servers/manage/replication/media/overview.svg
  sccm/core/servers/manage/replication/media/reinit-missing-message.svg
  sccm/core/servers/manage/replication/media/site-data-reinit.svg
  sccm/core/servers/manage/replication/media/sql-configuration.svg
  sccm/core/servers/manage/replication/media/sql-performance.png
  sccm/core/servers/manage/replication/media/sql-performance.svg
  sccm/core/servers/manage/replication/media/sql-replication-reinit.svg
  sccm/core/servers/manage/replication/media/sql-replication.svg
  sccm/core/servers/manage/replication/overview.md
  sccm/core/servers/manage/replication/reinit-missing-message.md
  sccm/core/servers/manage/replication/site-data-reinit.md
  sccm/core/servers/manage/replication/sql-configuration.md
  sccm/core/servers/manage/replication/sql-performance.md
  sccm/core/servers/manage/replication/sql-replication-reinit.md
  sccm/core/servers/manage/replication/sql-replication.md
  sccm/core/servers/manage/upgrade-on-premises-infrastructure.md
  sccm/core/understand/fundamentals-of-managing-devices.md
  sccm/desktop-analytics/about-assets.md
  sccm/desktop-analytics/about-deployment-plans.md
Labels: do-not-merge

#1803 From private repo
  sccm/core/breadcrumb/TOC.yml
  sccm/core/context/core-context.yml
Labels: do-not-merge, review-team-triage

#1807 Changed the wording at the beginning of the paragraphs
  sccm/core/servers/deploy/install/upgrade-to-configuration-manager.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1800 A couple of modifications to a collection to AAD group sync
  sccm/core/clients/manage/collections/create-collections.md
Labels: Change sent to author, assessing_(C&L), configmgr-client/tech, configuration-manager/prod, do-not-merge

#1808 From private repo
  sccm/core/breadcrumb/TOC.yml
  sccm/core/misc/in-console-documentation.md
  sccm/core/servers/manage/admin-console.md
  sccm/desktop-analytics/about-assets.md
  sccm/desktop-analytics/about-deployment-plans.md
Labels: do-not-merge

#1809 From private repo
  sccm/core/plan-design/changes/whats-new-in-version-1906.md
  sccm/core/servers/manage/admin-console.md
  sccm/desktop-analytics/account-reset.md
  sccm/desktop-analytics/toc.yml
  sccm/desktop-analytics/whats-new.md
  sccm/osd/deploy-use/debug-task-sequence.md
  sccm/osd/understand/task-sequence-variables.md
Labels: do-not-merge

#1813 From private repo
  sccm/core/plan-design/changes/whats-new-in-version-1906.md
  sccm/core/plan-design/configs/size-and-scale-numbers.md
  sccm/core/servers/manage/checklist-for-installing-update-1906.md
  sccm/sum/plan-design/plan-for-software-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1806 Update provisioning-mode.md
  sccm/osd/understand/provisioning-mode.md
Labels: Change sent to author, assessing_(C&L), configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#1820 Addition of max value in client cache min data retention period
  sccm/core/clients/deploy/about-client-settings.md
Labels: Change sent to author, assessing_(C&L), configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1822 From private repo
  sccm/core/breadcrumb/TOC.yml
  sccm/core/plan-design/changes/whats-new-in-version-1906.md
  sccm/mdm/deploy-use/enroll-devices-with-device-enrollment-manager.md
Labels: do-not-merge

#1827 From private repo
  sccm/comanage/media/3555750-co-management-staging-tab.png
  sccm/comanage/media/3555750-co-management-workloads-tab.png
Labels: do-not-merge

#1825 Changed a typo from "hours" where UI is in "minutes"
  sccm/core/clients/deploy/about-client-settings.md
Labels: Change sent to author, assessing_(C&L), configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1824 Changed a typo from "hours" where UI is in "minutes"
  sccm/core/clients/deploy/device-restart-notifications.md
  sccm/core/plan-design/changes/whats-new-in-version-1906.md
Labels: Change sent to author, assessing_(C&L), configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1826 Updated the "client cache minimum retention period"
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/plan-design/changes/whats-new-in-version-1906.md
Labels: Change sent to author, assessing_(C&L), configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1830 From private repo
  sccm/core/breadcrumb/TOC.yml
  sccm/core/servers/deploy/install/command-line-options-for-setup.md
  sccm/core/servers/manage/configuring-reporting.md
  sccm/desktop-analytics/about-updates.md
  sccm/desktop-analytics/faq.md
  sccm/desktop-analytics/monitor-connection-health.md
  sccm/osd/deploy-use/create-a-task-sequence-to-upgrade-an-operating-system.md
  sccm/osd/deploy-use/manage-windows-as-a-service.md
  sccm/sum/get-started/configure-classifications-and-products.md
  sccm/sum/plan-design/prerequisites-for-software-updates.md
  sccm/sum/tools/install-updates-publisher.md
Labels: do-not-merge

#1833 From private repo
  sccm/comanage/includes/enable-co-management-1902-and-earlier.md
  sccm/comanage/includes/enable-co-management-1906-and-higher.md
  sccm/core/plan-design/hierarchy/fundamental-concepts-for-content-management.md
  sccm/core/servers/manage/checklist-for-installing-update-1710.md
  sccm/core/servers/manage/recover-sites.md
  sccm/core/understand/introduction-to-the-ltsb.md
  sccm/osd/understand/task-sequence-variables.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1836 From private repo
  sccm/core/get-started/2019/includes/1906/4054074.md
  sccm/core/servers/manage/cmpivot.md
  sccm/osd/deploy-use/upgrade-windows-to-the-latest-version.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1839 From private repo
  sccm/apps/deploy-use/deploy-applications.md
  sccm/core/clients/deploy/prerequisites-for-deploying-clients-to-windows-computers.md
  sccm/core/clients/manage/manage-clients.md
  sccm/core/clients/manage/upgrade/exclude-clients-windows.md
  sccm/core/clients/manage/upgrade/upgrade-clients-for-windows-computers.md
  sccm/core/plan-design/changes/whats-new-in-version-1806.md
  sccm/core/plan-design/hierarchy/enhanced-http.md
  sccm/core/servers/manage/checklist-for-installing-update-1906.md
  sccm/core/servers/manage/install-in-console-updates.md
  sccm/core/understand/interoperability-client.md
  sccm/osd/deploy-use/refresh-an-existing-computer-with-a-new-version-of-windows.md
  sccm/osd/deploy-use/upgrade-windows-to-the-latest-version.md
  sccm/osd/understand/task-sequence-steps.md
Labels: do-not-merge

#1842 From private repo
  sccm/osd/deploy-use/upgrade-windows-to-the-latest-version.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1844 From private repo
  sccm/core/TOC.yml
  sccm/core/clients/deploy/about-client-installation-properties.md
  sccm/core/clients/deploy/deploy-clients-to-windows-computers.md
  sccm/core/clients/manage/asset-intelligence/operations-for-asset-intelligence.md
  sccm/core/plan-design/hierarchy/log-files.md
  sccm/core/plan-design/hierarchy/unicode-and-ascii-support.md
  sccm/core/plan-design/network/example-deployment-of-pki-certificates.md
  sccm/core/plan-design/network/pki-certificate-requirements.md
  sccm/core/plan-design/security/cryptographic-controls-technical-reference.md
  sccm/core/servers/deploy/configure/configuration-options-for-site-system-roles.md
  sccm/core/support/send-schedule-tool.md
  sccm/develop/core/understand/sqlviews/hardware-inventory-views-configuration-manager.md
  sccm/develop/core/understand/sqlviews/reports-supplied-with-configuration-manager.md
  sccm/develop/reference/compliance/sms_configurationitemlatestbaseclass-server-wmi-class.md
  sccm/develop/reference/core/clients/client-classes/triggerschedule-method-in-class-sms_client.md
  sccm/develop/reference/core/clients/collections/sms_collectionsettings-server-wmi-class.md
  sccm/develop/reference/core/clients/collections/sms_combineddeviceresources-server-wmi-class.md
  sccm/develop/reference/core/clients/collections/sms_fullcollectionmembership-server-wmi-class.md
  sccm/develop/reference/core/clients/manage/sms_r_system-server-wmi-class.md
  sccm/develop/reference/core/servers/configure/ccm_dts_priority-enumeration.md
  sccm/develop/reference/core/servers/configure/importmachineentry-method-in-class-sms_site.md
  sccm/develop/reference/core/servers/configure/importmachineentrytomultiplecollections-method-in-class-sms_site.md
  sccm/develop/reference/core/servers/configure/sms_packagebaseclass-server-wmi-class.md
  sccm/develop/reference/core/servers/configure/sms_packagestatusdistpointssummarizer-server-wmi-class.md
  sccm/develop/reference/core/servers/configure/sms_sci_sqltask-server-wmi-class.md
  sccm/develop/reference/osd/sms_stateinformation-server-wmi-class.md
  sccm/develop/reference/sum/sms_updatecompliancestatus-server-wmi-class.md
  sccm/osd/TOC.yml
  sccm/osd/deploy-use/use-a-task-sequence-to-manage-virtual-hard-disks.md
Labels: do-not-merge
