Repository MicrosoftDocs/SCCMdocs, pull requests merged in 2019-06, with the labels that each got.

#1611 From private repo
  sccm/core/clients/manage/monitor-clients.md
  sccm/core/plan-design/security/enable-tls-1-2.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/enable-data-sharing.md
  sccm/desktop-analytics/enroll-devices.md
  sccm/desktop-analytics/troubleshooting.md
  sccm/index.md
  sccm/index.yml
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1601 Update create-a-task-sequence-to-upgrade-an-operating-system.md
  sccm/osd/deploy-use/create-a-task-sequence-to-upgrade-an-operating-system.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#1602 Update create-custom-reports-using-sql-server-views.md
  sccm/develop/core/understand/sqlviews/create-custom-reports-using-sql-server-views.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1609 Sorted Views and Added 2 new view
  sccm/develop/core/understand/sqlviews/hardware-inventory-views-configuration-manager.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1619 Update cmpivot-tsg.md
  sccm/core/servers/manage/cmpivot-tsg.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1620 From private repo
  sccm/apps/deploy-use/deploy-applications.md
  sccm/apps/deploy-use/media/grace-period.svg
  sccm/core/TOC.yml
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/get-started/capabilities-in-technical-preview-1601.md
  sccm/core/get-started/capabilities-in-technical-preview-1705.md
  sccm/core/get-started/capabilities-in-technical-preview-1805.md
  sccm/core/migration/planning-a-migration-job-strategy.md
  sccm/core/misc/eula/third-party-notices.md
  sccm/core/misc/privacy/privacy-statement-microsoft-operations-management-suite-addendum.md
  sccm/core/misc/privacy/privacy-statement-mobile-device-addendum.md
  sccm/core/misc/privacy/privacy-statement.md
  sccm/core/plan-design/hierarchy/accounts.md
  sccm/core/servers/manage/checklist-for-installing-update-1902.md
  sccm/core/support/cmtrace.md
  sccm/core/understand/learn-more-editions.md
  sccm/core/understand/use-docs.md
  sccm/desktop-analytics/overview.md
  sccm/develop/core/clients/inventory/requirements-of-idmif-files.md
  sccm/mdm/deploy-use/create-configuration-items-for-android-and-samsung-knox-devices-managed-without-the-client.md
  sccm/mdm/deploy-use/create-configuration-items-for-android-for-work-devices-managed-without-the-client.md
  sccm/mdm/deploy-use/create-configuration-items-for-ios-and-mac-os-x-devices-managed-without-the-client.md
  sccm/mdm/deploy-use/create-configuration-items-for-windows-8.1-and-windows-10-devices-managed-without-the-client.md
  sccm/mdm/deploy-use/create-configuration-items-for-windows-phone-devices-managed-without-the-client.md
  sccm/mdm/deploy-use/ios-hybrid-enrollment-using-apple-configurator.md
  sccm/mdm/deploy-use/migrate-import-data.md
  sccm/mdt/lite-touch-installation-guide.md
  sccm/mdt/samples-guide.md
  sccm/mdt/sccm-guide.md
  sccm/mdt/toolkit-reference.md
  sccm/mdt/troubleshooting-reference.md
  sccm/mdt/use-the-mdt.md
  sccm/mdt/user-driven-installation-developers-guide.md
  sccm/mdt/user-driven-installation-guide.md
  sccm/osd/understand/using-task-sequence-variables.md
Labels: do-not-merge

#1625 Fixed numerous broken links.
  sccm/apps/deploy-use/learn-script-security.md
  sccm/core/clients/manage/inventory/hardware-inventory-for-linux-and-unix.md
  sccm/core/plan-design/network/example-deployment-of-pki-certificates.md
  sccm/core/servers/deploy/install/upgrade-to-configuration-manager.md
  sccm/mdm/deploy-use/enroll-hybrid-ios-mac.md
  sccm/mdt/samples-guide.md
  sccm/mdt/user-driven-installation-developers-guide.md
  sccm/protect/deploy-use/troubleshoot-endpoint-client.md
  sccm/sum/get-started/manage-settings-for-software-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1626 From private repo
  sccm/core/plan-design/security/enable-tls-1-2.md
  sccm/desktop-analytics/enable-data-sharing.md
  sccm/desktop-analytics/troubleshooting.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1627 Update enable-tls-1-2.md
  sccm/core/plan-design/security/enable-tls-1-2.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1630 From private repo
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/servers/manage/updates.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/enable-data-sharing.md
  sccm/desktop-analytics/enroll-devices.md
  sccm/desktop-analytics/overview.md
  sccm/desktop-analytics/troubleshooting.md
  sccm/desktop-analytics/tutorial-windows10.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1632 Update about-deployment-plans.md
  sccm/desktop-analytics/about-deployment-plans.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1636 Add CMG info to where clients access content from
  sccm/core/plan-design/hierarchy/fundamental-concepts-for-content-management.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1635 Updated Boundary Doc regarding AzureAD Clients.
  sccm/core/servers/deploy/configure/boundaries.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1633 SQL Server Service Broker is Required
  sccm/core/plan-design/configs/support-for-sql-server-versions.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1624 Re-ordered steps 7 & 8
  sccm/comanage/tutorial-co-manage-clients.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1634 Added new entries to AdvertFlags table
  sccm/develop/reference/core/servers/configure/sms_advertisement-server-wmi-class.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1637 From private repo
  sccm/apps/deploy-use/create-applications.md
  sccm/comanage/tutorial-co-manage-clients.md
  sccm/comanage/tutorial-co-manage-new-devices.md
  sccm/compliance/deploy-use/upgrade-windows-version.md
  sccm/core/misc/in-console-documentation.md
  sccm/core/servers/manage/upgrade-on-premises-infrastructure.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/create-deployment-plans.md
  sccm/desktop-analytics/faq.md
  sccm/desktop-analytics/tutorial-windows10.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1641 Update task-sequence-steps.md
  sccm/osd/understand/task-sequence-steps.md
Labels: Change sent to author, configuration-manager/prod, ready-to-merge

#1643 From private repo
  sccm/core/TOC.yml
  sccm/core/clients/deploy/plan/planning-for-client-deployment-to-windows-embedded-devices.md
  sccm/core/get-started/2019/includes/1906/3555750.md
  sccm/core/get-started/2019/includes/1906/3555894.md
  sccm/core/get-started/2019/includes/1906/3555904.md
  sccm/core/get-started/2019/includes/1906/3555935.md
  sccm/core/get-started/2019/includes/1906/3556025.md
  sccm/core/get-started/2019/includes/1906/3600867.md
  sccm/core/get-started/2019/includes/1906/3611956.md
  sccm/core/get-started/2019/includes/1906/3976435.md
  sccm/core/get-started/2019/includes/1906/4054074.md
  sccm/core/get-started/2019/includes/1906/4200581.md
  sccm/core/get-started/2019/includes/1906/4223683.md
  sccm/core/get-started/2019/includes/1906/4451056.md
  sccm/core/get-started/2019/includes/1906/4454491.md
  sccm/core/get-started/2019/includes/1906/4469002.md
  sccm/core/get-started/2019/includes/1906/4485675.md
  sccm/core/get-started/2019/includes/1906/4572953.md
  sccm/core/get-started/2019/includes/1906/4575930.md
  sccm/core/get-started/2019/includes/1906/4655176.md
  sccm/core/get-started/2019/includes/1906/4668846.md
  sccm/core/get-started/2019/includes/1906/4682946.md
  sccm/core/get-started/2019/includes/feature-include-template.md
  sccm/core/get-started/2019/includes/known-issue-include-template.md
  sccm/core/get-started/2019/media/3555750-co-management-enablement-tab.png
  sccm/core/get-started/2019/media/3555750-co-management-staging-tab.png
  sccm/core/get-started/2019/media/3555750-co-management-workloads-tab.png
  sccm/core/get-started/2019/media/3555894-maintenance-tasks.png
  sccm/core/get-started/2019/media/4054074-render-using-with-statement.png
  sccm/core/get-started/2019/media/4200581-database-upgrade-monitoring.png
  sccm/core/get-started/2019/media/4469002-select-categories-for-sync.png
  sccm/core/get-started/2019/media/4469002-stage-content.png
  sccm/core/get-started/2019/media/4575930-remote-control-cmg.png
  sccm/core/get-started/2019/technical-preview-1902-2.md
  sccm/core/get-started/2019/technical-preview-1902.md
  sccm/core/get-started/2019/technical-preview-1906.md
  sccm/core/get-started/technical-preview.md
  sccm/core/plan-design/configs/site-and-site-system-prerequisites.md
  sccm/core/plan-design/hierarchy/plan-for-the-sms-provider.md
  sccm/desktop-analytics/account-close.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/enroll-devices.md
  sccm/desktop-analytics/media/connection-health-dashboard.png
  sccm/desktop-analytics/media/data-currency-flyout-expand.png
  sccm/desktop-analytics/media/data-currency-flyout.png
  sccm/desktop-analytics/monitor-connection-health.md
  sccm/desktop-analytics/toc.yml
  sccm/desktop-analytics/troubleshooting.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1646 From private repo
  sccm/core/get-started/2019/includes/1904/3555935.md
  sccm/core/get-started/2019/includes/1906/3555935.md
  sccm/desktop-analytics/about-assets.md
  sccm/desktop-analytics/about-deployment-plans.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/create-deployment-plans.md
  sccm/desktop-analytics/set-up.md
  sccm/desktop-analytics/tutorial-windows10.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1651 From private repo
  .openpublishing.redirection.json
  sccm/comanage/tutorial-co-manage-new-devices.md
  sccm/core/clients/deploy/prepare-to-deploy-mac-clients.md
  sccm/core/get-started/capabilities-in-technical-preview-1607.md
  sccm/core/get-started/capabilities-in-technical-preview-1702.md
  sccm/core/get-started/capabilities-in-technical-preview-1706.md
  sccm/core/misc/eula/microsoft-sql-server-2012-native-client.md
  sccm/core/plan-design/changes/whats-new-in-version-1602.md
  sccm/core/plan-design/changes/whats-new-in-version-1606.md
  sccm/core/plan-design/changes/whats-new-in-version-1610.md
  sccm/core/plan-design/changes/whats-new-in-version-1706.md
  sccm/core/plan-design/changes/whats-new-in-version-1802.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/plan-design/hierarchy/ports.md
  sccm/core/plan-design/security/configure-security.md
  sccm/core/plan-design/security/plan-for-security.md
  sccm/core/servers/deploy/install/prerequisites-for-installing-sites.md
  sccm/core/servers/deploy/install/upgrade-to-configuration-manager.md
  sccm/core/servers/manage/admin-console.md
  sccm/core/servers/manage/media/1318035-notify-eval-version-expired.png
  sccm/core/understand/fundamentals-of-security.md
  sccm/core/understand/product-and-licensing-faq.md
  sccm/desktop-analytics/about-assets.md
  sccm/desktop-analytics/app-health-analyzer.md
  sccm/desktop-analytics/compat-assessment.md
  sccm/desktop-analytics/compat-risk.md
  sccm/desktop-analytics/create-deployment-plans.md
  sccm/desktop-analytics/deploy-pilot.md
  sccm/desktop-analytics/deploy-prod.md
  sccm/desktop-analytics/health-status-monitoring.md
  sccm/desktop-analytics/media/da-data-flow-v1.png
  sccm/desktop-analytics/media/da-data-flow.png
  sccm/desktop-analytics/privacy.md
  sccm/desktop-analytics/set-up.md
  sccm/desktop-analytics/toc.yml
  sccm/desktop-analytics/tutorial-windows10.md
  sccm/develop/core/understand/configuration-manager-programming-fundamentals.md
  sccm/develop/core/understand/context-qualifiers.md
  sccm/mdm/deploy-use/create-configuration-items-for-android-and-samsung-knox-devices-managed-without-the-client.md
  sccm/mdm/deploy-use/create-exchange-activesync-profiles.md
  sccm/mdm/understand/whats-new-hybrid-archive.md
  sccm/mdm/understand/whats-new-in-hybrid-mobile-device-management.md
  sccm/mdt/lite-touch-installation-guide.md
  sccm/mdt/samples-guide.md
  sccm/mdt/toolkit-reference.md
  sccm/mdt/user-driven-installation-developers-guide.md
  sccm/osd/deploy-use/manage-windows-as-a-service.md
  sccm/protect/deploy-use/create-certificate-profiles.md
  sccm/sum/deploy-use/manually-deploy-software-updates.md
  sccm/sum/plan-design/plan-for-software-updates.md
  sccm/sum/tools/manage-updates-with-updates-publisher.md
  sccm/sum/tools/media/scup-categories-workspace.png
  sccm/sum/tools/media/scup-categorize-update.png
  sccm/sum/tools/media/scup-detectoid-as-prerequisite.png
  sccm/sum/tools/media/scup-enable-authoring-mode.png
  sccm/sum/tools/updates-publisher-applicability-rules.md
  sccm/sum/tools/updates-publisher-options.md
  sccm/sum/tools/updates-publisher-publications.md
  sccm/sum/tools/updates-publisher-security.md
  sccm/sum/tools/updates-publisher.md
Labels: do-not-merge

#1653 The name of the button is "Add Tab" not "Add Custom Tab"
  sccm/core/get-started/2019/includes/1905/4063773.md
Labels: Change sent to author, configuration-manager/prod, ready-to-merge

#1655 From private repo
  sccm/core/clients/manage/cmg/certificates-for-cloud-management-gateway.md
  sccm/core/clients/manage/cmg/plan-cloud-management-gateway.md
  sccm/core/clients/manage/cmg/setup-cloud-management-gateway.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/plan-design/hierarchy/log-files.md
  sccm/core/plan-design/hierarchy/use-a-cloud-based-distribution-point.md
  sccm/core/servers/deploy/configure/boundary-groups.md
  sccm/core/servers/deploy/configure/define-site-boundaries-and-boundary-groups.md
  sccm/core/servers/deploy/configure/install-cloud-based-distribution-points-in-microsoft-azure.md
  sccm/core/servers/deploy/install/release-notes.md
  sccm/core/servers/manage/pre-release-features.md
  sccm/core/servers/manage/test-database-upgrade.md
  sccm/core/understand/configuration-manager-on-azure.md
  sccm/core/understand/manage-the-ltsb.md
  sccm/core/understand/supported-configurations-for-ltsb.md
  sccm/core/understand/upgrade-update-install.md
  sccm/core/understand/which-branch-should-i-use.md
  sccm/desktop-analytics/about-assets.md
  sccm/desktop-analytics/about-deployment-plans.md
  sccm/desktop-analytics/about-updates.md
  sccm/desktop-analytics/account-close.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/create-deployment-plans.md
  sccm/desktop-analytics/deploy-pilot.md
  sccm/desktop-analytics/deploy-prod.md
  sccm/desktop-analytics/enable-data-sharing.md
  sccm/desktop-analytics/enroll-devices.md
  sccm/desktop-analytics/faq.md
  sccm/desktop-analytics/health-status-monitoring.md
  sccm/desktop-analytics/media/diagnostic-data-levels.png
  sccm/desktop-analytics/monitor-connection-health.md
  sccm/desktop-analytics/overview.md
  sccm/desktop-analytics/privacy.md
  sccm/desktop-analytics/set-up.md
  sccm/desktop-analytics/troubleshooting.md
  sccm/desktop-analytics/tutorial-windows10.md
  sccm/docfx.json
  sccm/index.yml
  sccm/mdm/deploy-use/configure-and-deploy-lookout-for-work-apps.md
  sccm/mdm/understand/whats-new-hybrid-archive.md
  sccm/mdm/understand/whats-new-in-hybrid-mobile-device-management.md
  sccm/mdt/use-the-mdt.md
  sccm/osd/deploy-use/upgrade-windows-to-the-latest-version.md
  sccm/osd/deploy-use/use-pxe-to-deploy-windows-over-the-network.md
  sccm/osd/understand/task-sequence-steps.md
  sccm/osd/understand/task-sequence-variables.md
  sccm/sum/deploy-use/manage-office-365-proplus-updates.md
  sccm/sum/deploy-use/optimize-windows-10-update-delivery.md
  sccm/sum/deploy-use/third-party-software-updates.md
  sccm/sum/get-started/install-a-software-update-point.md
  sccm/sum/plan-design/plan-for-software-updates.md
  sccm/sum/tools/updates-publisher.md
Labels: do-not-merge

#1660 From private repo
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/clients/manage/cmg/monitor-clients-cloud-management-gateway.md
  sccm/core/plan-design/changes/whats-new-in-version-1806.md
  sccm/core/plan-design/changes/whats-new-in-version-1810.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/plan-design/configs/site-and-site-system-prerequisites.md
  sccm/core/plan-design/configs/support-for-sql-server-versions.md
  sccm/core/plan-design/configs/support-for-windows-10.md
  sccm/core/plan-design/configs/supported-operating-systems-for-clients-and-devices.md
  sccm/core/plan-design/configs/supported-operating-systems-for-site-system-servers.md
  sccm/core/plan-design/hierarchy/client-peer-cache.md
  sccm/core/plan-design/hierarchy/content-source-location-scenarios.md
  sccm/core/plan-design/hierarchy/fundamental-concepts-for-content-management.md
  sccm/core/plan-design/hierarchy/use-a-cloud-based-distribution-point.md
  sccm/core/plan-design/hierarchy/use-a-pull-distribution-point.md
  sccm/core/servers/deploy/configure/azure-services-wizard.md
  sccm/core/servers/deploy/configure/configure-aoag.md
  sccm/core/servers/deploy/configure/install-and-configure-distribution-points.md
  sccm/core/servers/deploy/configure/sql-server-alwayson-for-a-highly-available-site-database.md
  sccm/core/servers/deploy/install/get-install-media.md
  sccm/core/servers/deploy/install/list-of-prerequisite-checks.md
  sccm/core/servers/manage/backup-and-recovery.md
  sccm/core/servers/manage/checklist-for-installing-update-1610.md
  sccm/core/servers/manage/checklist-for-installing-update-1702.md
  sccm/core/servers/manage/checklist-for-installing-update-1706.md
  sccm/core/servers/manage/checklist-for-installing-update-1710.md
  sccm/core/servers/manage/checklist-for-installing-update-1802.md
  sccm/core/servers/manage/checklist-for-installing-update-1806.md
  sccm/core/servers/manage/checklist-for-installing-update-1810.md
  sccm/core/servers/manage/checklist-for-installing-update-1902.md
  sccm/core/servers/manage/current-branch-versions-supported.md
  sccm/core/servers/manage/install-in-console-updates.md
  sccm/core/understand/software-center.md
Labels: do-not-merge

#1652 [MVP] Trying to make it clearer talking about TP here
  sccm/core/get-started/technical-preview.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1649 Update tutorial-windows10.md
  sccm/desktop-analytics/tutorial-windows10.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1662 From private repo
  sccm/apps/deploy-use/create-deploy-scripts.md
  sccm/apps/deploy-use/packages-and-programs.md
  sccm/apps/get-started/deploying-app-v-virtual-applications.md
  sccm/comanage/how-to-prepare-Win10.md
  sccm/comanage/workloads.md
  sccm/core/TOC.yml
  sccm/core/clients/deploy/about-client-installation-properties.md
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/clients/deploy/plan/security-and-privacy-for-clients.md
  sccm/core/clients/deploy/prepare-to-deploy-mac-clients.md
  sccm/core/clients/manage/cmg/cloud-management-gateway-faq.md
  sccm/core/clients/manage/cmg/monitor-clients-cloud-management-gateway.md
  sccm/core/clients/manage/cmg/plan-cloud-management-gateway.md
  sccm/core/clients/manage/cmg/setup-cloud-management-gateway.md
  sccm/core/clients/manage/monitor-windows-analytics.md
  sccm/core/clients/manage/sync-data-log-analytics.md
  sccm/core/clients/manage/upgrade-readiness.md
  sccm/core/get-started/capabilities-in-technical-preview-1610.md
  sccm/core/get-started/capabilities-in-technical-preview-1612.md
  sccm/core/get-started/capabilities-in-technical-preview-1701.md
  sccm/core/get-started/capabilities-in-technical-preview-1703.md
  sccm/core/get-started/capabilities-in-technical-preview-1705.md
  sccm/core/get-started/capabilities-in-technical-preview-1706.md
  sccm/core/get-started/capabilities-in-technical-preview-1709.md
  sccm/core/get-started/capabilities-in-technical-preview-1710.md
  sccm/core/get-started/capabilities-in-technical-preview-1802.md
  sccm/core/get-started/capabilities-in-technical-preview-1803.md
  sccm/core/get-started/capabilities-in-technical-preview-1805.md
  sccm/core/get-started/capabilities-in-technical-preview-1806.md
  sccm/core/plan-design/changes/deprecated/removed-and-deprecated-server.md
  sccm/core/plan-design/changes/what-has-changed-from-configuration-manager-2012.md
  sccm/core/plan-design/changes/whats-new-in-version-1610.md
  sccm/core/plan-design/changes/whats-new-in-version-1702.md
  sccm/core/plan-design/changes/whats-new-in-version-1706.md
  sccm/core/plan-design/changes/whats-new-in-version-1710.md
  sccm/core/plan-design/changes/whats-new-in-version-1802.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/plan-design/network/configure-firewalls-ports-domains.md
  sccm/core/plan-design/network/internet-endpoints.md
  sccm/core/servers/deploy/configure/about-the-service-connection-point.md
  sccm/core/servers/manage/admin-console.md
  sccm/core/understand/use-docs.md
  sccm/desktop-analytics/troubleshooting.md
  sccm/osd/get-started/prepare-windows-pe-peer-cache-to-reduce-wan-traffic.md
  sccm/osd/understand/task-sequence-steps.md
  sccm/sum/plan-design/plan-for-software-updates.md
Labels: do-not-merge

#1663 From private repo
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1665 From private repo
  sccm/index.yml
Labels: do-not-merge, review-team-triage

#1667 From private repo
  sccm/desktop-analytics/monitor-connection-health.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1670 From private repo
  sccm/comanage/how-to-prepare-Win10.md
  sccm/core/clients/manage/cmg/certificates-for-cloud-management-gateway.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, do-not-merge

#1679 From private repo
  sccm/comanage/quickstart-paths.md
  sccm/desktop-analytics/set-up.md
  sccm/desktop-analytics/troubleshooting.md
  sccm/desktop-analytics/tutorial-windows10.md
  sccm/mdm/understand/whats-new-in-hybrid-mobile-device-management.md
  sccm/osd/understand/task-sequence-steps.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge
