Repository MicrosoftDocs/SCCMdocs, pull requests merged in 2019-07, with the labels that each got.

#1684 typo: Double word "the"
  sccm/core/plan-design/hierarchy/plan-for-the-sms-provider.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1685 chore: Cleanup Microsoft links
  sccm/apps/get-started/deploying-app-v-virtual-applications.md
  sccm/core/get-started/capabilities-in-technical-preview-1702.md
  sccm/core/get-started/capabilities-in-technical-preview-1703.md
  sccm/core/get-started/evaluate-with-lab-environment.md
  sccm/core/misc/learn-more-about-available-updates.md
  sccm/core/plan-design/hierarchy/understand-how-clients-find-site-resources-and-services.md
  sccm/core/understand/configuration-manager-on-azure.md
  sccm/develop/apps/application-management-extension.md
  sccm/develop/apps/application-management.md
  sccm/develop/apps/software-metering.md
  sccm/develop/compliance/compliance-settings-dcm.md
  sccm/develop/core/clients/asset-intelligence/asset-intelligence.md
  sccm/develop/core/clients/collections/collections.md
  sccm/develop/core/clients/inventory/about-configuration-manager-inventory.md
  sccm/develop/core/clients/remote-control/remote-tools.md
  sccm/develop/core/servers/configure/about-maintenance-windows.md
  sccm/develop/core/servers/configure/discovery.md
  sccm/develop/core/servers/configure/distribution-points.md
  sccm/develop/core/servers/configure/how-to-enable-the-partner-notification-api.md
  sccm/develop/core/servers/configure/role-based-administration.md
  sccm/develop/core/servers/configure/software-distribution-maintenance-windows.md
  sccm/develop/core/servers/configure/software-distribution-packages.md
  sccm/develop/core/servers/configure/software-distribution-programs.md
  sccm/develop/core/servers/configure/software-distribution-wake-on-lan.md
  sccm/develop/core/servers/manage/configuration-manager-status-and-summarizers.md
  sccm/develop/core/understand/getting-started-with-configuration-manager-and-windows-powershell.md
  sccm/develop/core/understand/getting-started-with-configuration-manager-programming.md
  sccm/develop/core/understand/how-to-call-a-configuration-manager-object-class-method-by-using-managed-code.md
  sccm/develop/core/understand/how-to-connect-to-an-sms-provider-by-using-managed-code.md
  sccm/develop/core/understand/how-to-deploy-a-site-system-role--example---fallback-status-point-.md
  sccm/develop/core/understand/introduction-to-wbemtest.md
  sccm/develop/core/understand/securing-configuration-manager-applications.md
  sccm/develop/mdm/mobile-device-management.md
  sccm/develop/osd/operating-system-deployment.md
  sccm/develop/reference/core/clients/client-classes/operating-system-deployment-client-com-automation-classes.md
  sccm/develop/sum/about-software-updates-deployments.md
  sccm/develop/sum/about-software-updates-setup-and-configuration.md
  sccm/develop/sum/about-synchronizing-the-software-update-point.md
  sccm/develop/sum/software-updates-and-maintenance-windows.md
  sccm/develop/sum/software-updates.md
  sccm/mdm/deploy-use/troubleshoot-lookout-integration.md
  sccm/mdm/deploy-use/wipe-lock-reset-devices.md
  sccm/mdt/samples-guide.md
  sccm/mdt/sccm-guide.md
  sccm/mdt/toolkit-reference.md
  sccm/mdt/troubleshooting-reference.md
  sccm/mdt/user-driven-installation-developers-guide.md
  sccm/mdt/user-driven-installation-guide.md
  sccm/osd/deploy-use/use-a-task-sequence-to-manage-virtual-hard-disks.md
  sccm/osd/get-started/customize-boot-images.md
  sccm/protect/deploy-use/endpoint-antimalware-policies.md
  sccm/protect/deploy-use/monitor-certificate-profiles.md
  sccm/sum/tools/updates-publisher-security.md
Labels: do-not-merge

#1688 chore: Remove trailing space in frontmatter
  sccm/core/get-started/includes/1357866.md
  sccm/core/get-started/includes/1358146.md
  sccm/core/get-started/includes/1358926.md
  sccm/osd/get-started/includes/wim-apply-updates.md
Labels: Change sent to author, configuration-manager/prod, do-not-merge

#1692 From private repo
  sccm/core/get-started/2019/includes/1905/4616810.md
  sccm/mdm/understand/whats-new-in-hybrid-mobile-device-management.md
Labels: Change sent to author, configmgr-hybrid/tech, configuration-manager/prod, do-not-merge

#1687 fix: sccm/mdm/deploy-use/monitor-mobile-threat-defense-compliance.md
  sccm/mdm/deploy-use/device-threat-protection-dashboard.png
  sccm/mdm/deploy-use/monitor-mobile-threat-defense-compliance.md
Labels: ready-to-merge, tracking (C&L)

#1680 Mac OS X (pre-2017) -> macOS (new)
  sccm/mdm/deploy-use/create-configuration-items-for-ios-and-mac-os-x-devices-managed-without-the-client.md
Labels: Change sent to author, configmgr-hybrid/tech, configuration-manager/prod, ready-to-merge, tracking (C&L)

#1671 Update enable-data-sharing.md
  sccm/desktop-analytics/enable-data-sharing.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1672 Update troubleshooting.md to remove incorrect/misleading steps
  sccm/desktop-analytics/troubleshooting.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1694 fix: MD038/no-space-in-code
  sccm/core/servers/manage/cmpivot.md
  sccm/protect/deploy-use/find-a-pfn-for-per-app-vpn.md
Labels: Change sent to author, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#1695 fix: MD033/no-inline-html
  sccm/core/get-started/capabilities-in-technical-preview-1612.md
  sccm/core/get-started/capabilities-in-technical-preview-1702.md
  sccm/core/get-started/capabilities-in-technical-preview-1705.md
  sccm/protect/deploy-use/deploy-wifi-vpn-email-cert-profiles.md
  sccm/protect/deploy-use/windows-hello-for-business-settings.md
Labels: Change sent to author, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#1693 fix: MD039/no-space-in-links
  sccm/comanage/quickstart-paths.md
  sccm/mdm/deploy-use/software-inventory-mobile-devices.md
  sccm/mdm/deploy-use/troubleshoot-lookout-integration.md
Labels: Change sent to author, configmgr-hybrid/tech, configuration-manager/prod, do-not-merge

#1696 From private repo
  sccm/compliance/plan-design/common-tasks-for-managing-compliance-on-devices-with-the-client.md
  sccm/core/clients/deploy/deploy-clients-to-windows-computers.md
  sccm/core/clients/manage/azure-ccmsetup.md
  sccm/core/clients/manage/collections/create-collections.md
  sccm/core/clients/manage/inventory/introduction-to-hardware-inventory.md
  sccm/core/clients/manage/inventory/introduction-to-software-inventory.md
  sccm/core/plan-design/changes/deprecated/removed-and-deprecated-cmfeatures.md
  sccm/core/servers/manage/create-queries.md
  sccm/mdm/deploy-use/manage-access-to-o365-services-for-pcs-managed-by-sccm.md
  sccm/mdt/release-notes.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1698 Update cloud-management-gateway-faq.md
  sccm/core/clients/manage/cmg/cloud-management-gateway-faq.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge, review-team-triage

#1699 Added local admin account requirement for the Run PowerShell Script task
  sccm/osd/understand/task-sequence-steps.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge, review-team-triage

#1700 Added Run PowerShell Script task to Task Sequence run as account
  sccm/core/plan-design/hierarchy/accounts.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge, review-team-triage

#1705 From private repo
  sccm/apps/deploy-use/manage-apps-from-the-windows-store-for-business.md
  sccm/comanage/tutorial-co-manage-new-devices.md
  sccm/core/get-started/2019/includes/1904/4110109.md
  sccm/core/get-started/2019/includes/1905/4110109.md
  sccm/core/get-started/2019/includes/1906/3555750.md
  sccm/core/get-started/capabilities-in-technical-preview-1805.md
  sccm/core/get-started/capabilities-in-technical-preview-1806.md
  sccm/core/get-started/includes/1810/1358333.md
  sccm/core/plan-design/changes/whats-new-in-version-1806.md
  sccm/core/plan-design/configs/support-for-virtualization-environments.md
  sccm/core/plan-design/hierarchy/enhanced-http.md
  sccm/core/plan-design/network/internet-endpoints.md
  sccm/core/servers/manage/introduction-to-queries.md
  sccm/core/servers/manage/manage-queries.md
  sccm/core/servers/manage/security-and-privacy-for-queries.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/desktop-analytics/enable-data-sharing.md
  sccm/desktop-analytics/health-status-monitoring.md
  sccm/desktop-analytics/set-up.md
  sccm/desktop-analytics/tutorial-windows10.md
  sccm/index.yml
  sccm/osd/plan-design/infrastructure-requirements-for-operating-system-deployment.md
  sccm/sum/deploy-use/optimize-windows-10-update-delivery.md
  sccm/sum/deploy-use/third-party-software-updates.md
  sccm/sum/plan-design/plan-for-software-updates.md
Labels: do-not-merge

#1704 fix: MD046/code-block-style
  sccm/comanage/tutorial-co-manage-new-devices.md
  sccm/core/get-started/capabilities-in-technical-preview-1606.md
  sccm/mdm/deploy-use/import-pfx-certificate-profiles.md
  sccm/mdm/deploy-use/protect-apps-using-mam-policies.md
  sccm/sum/deploy-use/automatically-deploy-software-updates.md
  sccm/sum/tools/updates-publisher-applicability-rules.md
  template.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge, review-team-triage, tracking (C&L)

#1707 fix: MD005/list-indent
  sccm/compliance/deploy-use/create-configuration-items.md
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/clients/manage/remote-control/remotely-administer-a-windows-client-computer.md
  sccm/core/get-started/capabilities-in-technical-preview-1612.md
  sccm/core/plan-design/changes/whats-new-in-version-1702.md
  sccm/core/plan-design/diagnostics/levels-of-diagnostic-usage-data-collection-1606.md
  sccm/core/plan-design/diagnostics/levels-of-diagnostic-usage-data-collection-1610.md
  sccm/core/plan-design/diagnostics/levels-of-diagnostic-usage-data-collection-1902.md
  sccm/core/plan-design/get-ready.md
  sccm/core/support/support-center-ui-reference.md
  sccm/desktop-analytics/overview.md
  sccm/mdm/deploy-use/create-vpn-profiles.md
  sccm/osd/deploy-use/create-a-task-sequence-to-capture-and-restore-user-state.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1708 chore: add xml to code fences
  sccm/develop/apps/how-to-define-the-create-application-wizard-xml-file.md
  sccm/develop/apps/how-to-define-the-create-deployment-type-wizard-xml-file.md
  sccm/develop/apps/how-to-define-the-deployment-type-property-sheet-xml-file.md
  sccm/develop/apps/how-to-define-the-resources.md
  sccm/develop/compliance/application-configuration-item-example-1.md
  sccm/develop/compliance/application-configuration-item-example-2.md
  sccm/develop/compliance/configuration-baseline-example-1.md
  sccm/develop/compliance/operating-system-configuration-item-example-1.md
  sccm/develop/core/servers/console/how-to-create-action-xml-for-a-configuration-manager-property-sheet.md
  sccm/develop/core/servers/console/how-to-create-form-xml-for-a-configuration-manager-property-sheet.md
  sccm/mdt/samples-guide.md
  sccm/mdt/toolkit-reference.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1709 Fixed link title
  sccm/desktop-analytics/overview.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge, review-team-triage, tracking (C&L)

#1710 From private repo
  sccm/core/clients/deploy/plan/security-and-privacy-for-clients.md
  sccm/core/migration/planning-a-migration-job-strategy.md
  sccm/desktop-analytics/account-close.md
  sccm/desktop-analytics/connect-configmgr.md
  sccm/mdm/understand/hybrid-mobile-device-management.md
  sccm/mdm/understand/whats-new-in-hybrid-mobile-device-management.md
  sccm/mdt/samples-guide.md
  sccm/sum/deploy-use/optimize-windows-10-update-delivery.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1713 Update set-up-your-lab.md
  sccm/core/get-started/set-up-your-lab.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge, review-team-triage

#1721 From private repo
  sccm/compliance/deploy-use/create-configuration-items-for-mac-os-x-devices-managed-with-the-client.md
  sccm/compliance/deploy-use/create-configuration-items-for-windows-10-devices-managed-with-the-client.md
  sccm/compliance/deploy-use/create-configuration-items.md
  sccm/core/misc/cm07-eos.md
  sccm/core/misc/in-console-documentation.md
  sccm/osd/understand/task-sequence-steps.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1722 Clarified note on All Users collection.
  sccm/mdm/deploy-use/migrate-mixed-authority.md
Labels: Change sent to author, configmgr-hybrid/tech, configuration-manager/prod, do-not-merge, review-team-triage

#1717 Changes to Availability Group to Standalone Article
  sccm/core/servers/deploy/configure/configure-aoag.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge, tracking (C&L)

#1719 Added file lock notes.
  sccm/protect/deploy-use/endpoint-antimalware-policies.md
Labels: Change sent to author, configmgr-protect/tech, configuration-manager/prod, ready-to-merge, tracking (C&L)

#1715 Remoted Certificate Template v3 Note from PKI requirements
  sccm/core/plan-design/network/pki-certificate-requirements.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge, tracking (C&L)

#1720 Changed references to hotfixes.
  sccm/core/servers/manage/recover-sites.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge, tracking (C&L)

#1724 Removed Note about Client Upgrade Override
  sccm/core/clients/manage/upgrade/exclude-clients-windows.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge, tracking (C&L)

#1718 Added CSP License Information.
  sccm/core/servers/deploy/install/get-install-media.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge, tracking (C&L)

#1723 Noted that CCMSETUP still runs on clients in the exclusion collection.
  sccm/core/clients/manage/upgrade/exclude-clients-windows.md
  sccm/core/clients/manage/upgrade/upgrade-clients-for-windows-computers.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge, tracking (C&L)

#1716 Added required firewall rules to DP setup.
  sccm/core/servers/deploy/configure/install-and-configure-distribution-points.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge, review-team-triage, tracking (C&L)

#1726 Removed slashes
  sccm/develop/core/understand/sqlviews/software-inventory-views-configuration-manager.md
Labels: ready-to-merge, review-team-triage

#1731 From private repo
  sccm/core/TOC.yml
  sccm/core/get-started/2019/includes/1906/4054074.md
  sccm/core/get-started/2019/includes/1907/4021125.md
  sccm/core/get-started/2019/includes/1907/4621085.md
  sccm/core/get-started/2019/media/4021125-office-365-macro-advisories.png
  sccm/core/get-started/2019/media/4021125-office-365-to-add-ins.png
  sccm/core/get-started/2019/media/4021125-office-365-upgrade-readiness-dashboard.png
  sccm/core/get-started/2019/media/4621085-task-sequence-search.png
  sccm/core/get-started/2019/technical-preview-1907.md
  sccm/core/get-started/technical-preview.md
  sccm/desktop-analytics/overview.md
  sccm/desktop-analytics/troubleshooting.md
Labels: do-not-merge

#1734 From private repo
  sccm/core/TOC.yml
  sccm/core/clients/manage/cmg/certificates-for-cloud-management-gateway.md
  sccm/core/clients/manage/cmg/cloud-management-gateway-faq.md
  sccm/core/clients/manage/cmg/security-and-privacy-for-cloud-management-gateway.md
  sccm/core/clients/manage/media/3599209-client-health-dashboard.png
  sccm/core/clients/manage/monitor-clients.md
  sccm/core/misc/in-console-documentation.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/servers/manage/management-insights.md
  sccm/desktop-analytics/faq.md
Labels: do-not-merge

#1739 From private repo
  sccm/core/plan-design/changes/deprecated/removed-and-deprecated-cmfeatures.md
  sccm/core/plan-design/hierarchy/accounts.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1741 Multiple SUPs in a site
  sccm/sum/plan-design/prerequisites-for-software-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1744 From private repo
  sccm/core/servers/deploy/install/release-notes.md
  sccm/desktop-analytics/faq.md
  sccm/desktop-analytics/media/connection-health-dashboard.png
  sccm/desktop-analytics/overview.md
Labels: do-not-merge

#1749 From private repo
  sccm/desktop-analytics/faq.md
  sccm/desktop-analytics/set-up.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1746 Add one more azure template into doc
  sccm/core/get-started/azure-template.md
Labels: Change sent to author, assessing (C&L), configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1756 From private repo
  sccm/core/plan-design/hierarchy/plan-for-the-sms-provider.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1761 From private repo
  sccm/core/plan-design/changes/whats-new-in-version-1806.md
  sccm/core/servers/deploy/configure/configure-aoag.md
  sccm/desktop-analytics/monitor-connection-health.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1763 Remove Driver Inventory from Assets section
  sccm/desktop-analytics/about-assets.md
Labels: Change sent to author, assessing (C&L), configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1762 Improve the Metering section
  sccm/core/plan-design/hierarchy/log-files.md
Labels: Change sent to author, assessing (C&L), configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1752 Update plan-cloud-management-gateway.md
  sccm/core/clients/manage/cmg/plan-cloud-management-gateway.md
Labels: Change sent to author, assessing (C&L), configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1751 Update manage-clients-internet.md
  sccm/core/clients/manage/manage-clients-internet.md
Labels: Change sent to author, assessing (C&L), configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1748 Updated the Registry Key Path for Windows Settings
  sccm/desktop-analytics/enroll-devices.md
Labels: Change sent to author, assessing (C&L), configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1765 From private repo
  sccm/desktop-analytics/overview.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1767 Removed invitation code info under "Set up desktop analytics" section
  sccm/desktop-analytics/tutorial-windows10.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1766 Updated ChassisTypes Properties
  sccm/mdt/toolkit-reference.md
Labels: Change sent to author, assessing (C&L), configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#1774 From private repo
  sccm/comanage/how-to-prepare-Win10.md
  sccm/core/understand/configuration-manager-on-azure.md
  sccm/core/understand/use-cloud-services.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1777 From private repo
  sccm/sum/plan-design/plan-for-software-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1775 Removed Extra "to" in the warning about parameters
  sccm/apps/deploy-use/create-deploy-scripts.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#1776 Used 'for' twice in the same sentence.
  sccm/apps/deploy-use/create-deploy-scripts.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge
