Repository MicrosoftDocs/SCCMdocs, pull requests merged in 2019-12, with the labels that each got.

#2030 updated software-center.md
  sccm/core/understand/software-center.md
Labels: Change sent to author, assessing_(C&L), configmgr-other/tech, configuration-manager/prod, ready-to-merge

#2042 Update overview.md
  sccm/desktop-analytics/overview.md
Labels: Change sent to author, assessing_(C&L), configmgr-other/tech, configuration-manager/prod, ready-to-merge

#2047 From private repo
  sccm/core/servers/deploy/install/release-notes.md
  sccm/desktop-analytics/about-deployment-plans.md
  sccm/desktop-analytics/enable-data-sharing.md
  sccm/desktop-analytics/overview.md
  sccm/osd/understand/task-sequence-steps.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#2050 Update azure-migration-tool.md - Fix monitoring tip incorrectly formatted as Code
  sccm/core/support/azure-migration-tool.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#2046 Update bitlocker-management.md
  sccm/protect/plan-design/bitlocker-management.md
Labels: Change sent to author, assessing_(C&L), configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#2052 From private repo
  sccm/apps/TOC.yml
  sccm/apps/deploy-use/create-applications.md
  sccm/apps/deploy-use/manage-apps-from-the-windows-store-for-business.md
  sccm/apps/deploy-use/troubleshoot-application-deployment.md
  sccm/apps/deploy-use/troubleshoot-microsoft-store-for-business-integration.md
  sccm/apps/understand/app-deployment-technical-reference.md
  sccm/apps/understand/client-components-technical-reference.md
  sccm/apps/understand/deployment-download-technical-reference.md
  sccm/apps/understand/deployment-evaluation-technical-reference.md
  sccm/apps/understand/deployment-install-technical-reference.md
  sccm/apps/understand/deployment-policy-technical-reference.md
  sccm/apps/understand/device-deployment-technical-reference.md
  sccm/apps/understand/user-deployment-technical-reference.md
  sccm/core/TOC.yml
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/clients/manage/inventory/resource-explorer-classes.md
  sccm/core/servers/deploy/configure/install-and-configure-distribution-points.md
  sccm/core/servers/deploy/install/release-notes.md
  sccm/osd/plan-design/planning-considerations-for-automating-tasks.md
  sccm/sum/deploy-use/office-365-dashboard.md
Labels: do-not-merge

#2051 Update encrypt-recovery-data.md
  sccm/protect/deploy-use/bitlocker/encrypt-recovery-data.md
Labels: Change sent to author, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#2058 From private repo
  sccm/compliance/deploy-use/create-configuration-baselines.md
  sccm/core/plan-design/changes/media/microsoft-endpoint-manager-start-menu.png
  sccm/core/plan-design/changes/media/microsoft-endpoint-start-menu.png
  sccm/core/plan-design/changes/whats-new-in-version-1910.md
  sccm/core/servers/manage/admin-console.md
  sccm/core/servers/manage/media/microsoft-endpoint-manager-start-menu.png
  sccm/core/servers/manage/media/microsoft-endpoint-start-menu.png
  sccm/core/understand/media/microsoft-endpoint-manager-start-menu.png
  sccm/core/understand/media/microsoft-endpoint-start-menu.png
  sccm/core/understand/product-and-licensing-faq.md
  sccm/core/understand/software-center.md
  sccm/sum/deploy-use/optimize-windows-10-update-delivery.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#2060 From private repo
  sccm/sum/deploy-use/manage-office-365-proplus-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#2065 From private repo
  sccm/sum/get-started/configure-classifications-and-products.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#2071 From private repo
  .openpublishing.publish.config.json
  sccm/core/get-started/capabilities-in-technical-preview-1806.md
  sccm/core/misc/mms2019docathon.md
  sccm/core/plan-design/changes/whats-new-in-version-1906.md
  sccm/core/servers/manage/best-practices-for-reporting.md
  sccm/develop/core/understand/getting-started-with-configuration-manager-and-windows-powershell.md
  sccm/mdm/deploy-use/windows-hello-for-business-settings.md
  sccm/mdt/samples-guide.md
  sccm/mdt/troubleshooting-reference.md
  sccm/mdt/use-the-mdt.md
  sccm/osd/understand/task-sequence-steps.md
  sccm/protect/deploy-use/windows-defender-advanced-threat-protection.md
Labels: do-not-merge

#2074 From private repo
  sccm/comanage/media/co-management-dashboard.png
  sccm/core/get-started/2019/includes/1910/3608345.md
  sccm/core/get-started/2019/media/4923997-message-administrator.png
  sccm/core/get-started/media/1357766-hub.png
  sccm/core/misc/in-console-documentation.md
  sccm/core/servers/manage/checklist-for-installing-update-1610.md
  sccm/core/servers/manage/checklist-for-installing-update-1702.md
  sccm/core/servers/manage/checklist-for-installing-update-1706.md
  sccm/core/servers/manage/checklist-for-installing-update-1710.md
  sccm/core/servers/manage/checklist-for-installing-update-1802.md
  sccm/core/servers/manage/checklist-for-installing-update-1806.md
  sccm/core/servers/manage/checklist-for-installing-update-1810.md
  sccm/core/servers/manage/checklist-for-installing-update-1902.md
  sccm/core/servers/manage/creating-custom-report-models-in-sql-server-reporting-services.md
  sccm/core/servers/manage/media/4923997-message-administrator.png
  sccm/core/servers/manage/media/connect-to-a-new-site.PNG
  sccm/desktop-analytics/log-collector.md
  sccm/desktop-analytics/media/connection-health-dashboard.png
  sccm/desktop-analytics/media/sccm-device-list-properly-enrolled.png
  sccm/desktop-analytics/monitor-connection-health.md
  sccm/mdm/deploy-use/media/CA_compliance_report.png
  sccm/mdm/deploy-use/verify-mdm-configuration.md
  sccm/mdt/index.yml
  sccm/mdt/toolkit-reference.md
  sccm/protect/TOC.yml
  sccm/protect/deploy-use/bitlocker/deploy-management-agent.md
  sccm/protect/deploy-use/bitlocker/encrypt-recovery-data.md
  sccm/protect/deploy-use/bitlocker/setup-websites.md
  sccm/protect/deploy-use/create-deploy-exploit-guard-policy.md
  sccm/protect/plan-design/bitlocker-management.md
Labels: do-not-merge

#2077 From private repo
  sccm/core/TOC.yml
  sccm/core/get-started/2019/includes/1912/3607758.md
  sccm/core/get-started/2019/includes/1912/4226618.md
  sccm/core/get-started/2019/includes/1912/5229962.md
  sccm/core/get-started/2019/includes/1912/5526972.md
  sccm/core/get-started/2019/includes/1912/5842295.md
  sccm/core/get-started/2019/includes/1912/5870934.md
  sccm/core/get-started/2019/media/4226618-collect-client-logs.png
  sccm/core/get-started/2019/media/4226618-view-collected-client-logs.png
  sccm/core/get-started/2019/media/5870934-search-cmpivot-entities.png
  sccm/core/get-started/2019/technical-preview-1908-2.md
  sccm/core/get-started/2019/technical-preview-1908.md
  sccm/core/get-started/2019/technical-preview-1912.md
  sccm/core/get-started/technical-preview.md
  sccm/desktop-analytics/privacy.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#2076 Corrected file name for MsfbSyncWorker.log
  sccm/apps/deploy-use/troubleshoot-microsoft-store-for-business-integration.md
Labels: Change sent to author, assessing_(C&L), configmgr-app/tech, configuration-manager/prod, ready-to-merge

#2079 From private repo
  sccm/core/TOC.yml
  sccm/core/plan-design/security/enable-tls-1-2-client.md
  sccm/core/plan-design/security/enable-tls-1-2-server.md
  sccm/core/plan-design/security/enable-tls-1-2-troubleshoot.md
  sccm/core/plan-design/security/enable-tls-1-2.md
  sccm/core/plan-design/security/includes/enable-tls-1-2-protocol-security-provider.md
  sccm/core/plan-design/security/includes/update-net-framework-to-support-tls-1-2.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#2082 The name of the log file is WsfbSyncWorker.log
  sccm/apps/deploy-use/troubleshoot-microsoft-store-for-business-integration.md
Labels: Change sent to author, assessing_(C&L), configmgr-app/tech, configuration-manager/prod, ready-to-merge

#2083 From private repo
  sccm/apps/deploy-use/create-app-groups.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, do-not-merge

#2085 From private repo
  sccm/core/get-started/azure-template.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#2087 From private repo
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/plan-design/changes/whats-new-in-version-1910.md
  sccm/core/plan-design/hierarchy/fundamental-concepts-for-content-management.md
  sccm/sum/deploy-use/optimize-windows-10-update-delivery.md
  sccm/sum/deploy-use/software-updates-maintenance.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#2090 From private repo
  sccm/develop/core/misc/system-center-configuration-manager-sdk.md
  sccm/develop/core/understand/configuration-manager-sdk-samples.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, do-not-merge

#2093 From private repo
  .openpublishing.redirection.json
  sccm/core/misc/eula/microsoft-sql-server-2012-native-client.md
  sccm/core/misc/eula/microsoft-sql-server-2014-express.md
  sccm/core/misc/eula/microsoft-sql-server-2016-express.md
  sccm/core/misc/eula/microsoft-system-center-configuration-manager-evaluation.md
  sccm/core/misc/eula/microsoft-system-center-configuration-manager-sdk-redistributables.md
  sccm/core/misc/eula/microsoft-system-center-configuration-manager-technical-preview.md
  sccm/core/misc/eula/microsoft-system-center-endpoint-protection-evaluation.md
  sccm/core/misc/eula/sql-server-branded-components-included.md
  sccm/core/misc/eula/third-party-notices.md
  sccm/core/plan-design/changes/whats-new-in-version-1910.md
  sccm/core/servers/deploy/install/release-notes.md
  sccm/core/servers/manage/checklist-for-installing-update-1910.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#2096 From private repo
  sccm/core/misc/in-console-documentation.md
  sccm/core/servers/deploy/install/list-of-prerequisite-checks.md
  sccm/core/servers/manage/checklist-for-installing-update-1802.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#2097 Update support-center-onetrace.md
  sccm/core/support/support-center-onetrace.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#2105 Added deploy Windows 10 in-place upgrade via CMG link
  sccm/comanage/quickstart-upgrade-win10.md
Labels: Change sent to author, assessing_(C&L), configmgr-client/tech, configuration-manager/prod, ready-to-merge
