Repository MicrosoftDocs/SCCMdocs, pull requests merged in 2019-05, with the labels that each got.

#1354 Update site-server-high-availability.md
  sccm/core/servers/deploy/configure/site-server-high-availability.md
Labels: Change sent to author, configuration-manager/prod, ready-to-merge, triaged

#1426 Updating the pre-requisites
  sccm/core/clients/manage/asset-intelligence/product-lifecycle-dashboard.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge, triaged

#1449 Update accounts.md
  sccm/core/plan-design/hierarchy/accounts.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge, triaged

#1447 Removed a Comma
  sccm/sum/deploy-use/software-updates-maintenance.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, ready-to-merge, triaged

#1454 update the date
  sccm/osd/understand/task-sequence-variables.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1507 From private repo
  .openpublishing.redirection.json
  sccm/apps/TOC.yml
  sccm/comanage/toc.yml
  sccm/compliance/TOC.yml
  sccm/compliance/deploy-use/configuration-items-for-devices-managed-with-the-client.md
  sccm/compliance/deploy-use/create-configuration-items-for-mac-os-x-devices-managed-with-the-client.md
  sccm/compliance/deploy-use/create-configuration-items-for-windows-10-devices-managed-with-the-client.md
  sccm/compliance/deploy-use/create-configuration-items.md
  sccm/compliance/plan-design/common-tasks-for-managing-compliance-on-devices-with-the-client.md
  sccm/core/TOC.yml
  sccm/core/clients/deploy/deploy-clients-to-windows-computers.md
  sccm/core/clients/manage/collections/create-collections.md
  sccm/core/clients/manage/inventory/introduction-to-hardware-inventory.md
  sccm/core/clients/manage/inventory/introduction-to-software-inventory.md
  sccm/core/misc/mms2019docathon.md
  sccm/core/servers/manage/create-queries.md
  sccm/core/servers/manage/introduction-to-queries.md
  sccm/core/servers/manage/manage-queries.md
  sccm/core/servers/manage/operations-and-maintenance-for-queries.md
  sccm/core/servers/manage/queries-technical-reference.md
  sccm/core/servers/manage/security-and-privacy-for-queries.md
  sccm/develop/TOC.yml
  sccm/protect/TOC.yml
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1494 Fixed Updates Publisher Path Reference
  sccm/sum/tools/install-updates-publisher.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#1498 Reviewed for Accuracy and Fixed Incorrect Brackets
  sccm/core/clients/manage/collections/introduction-to-collections.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1496 Updated <path> Reference to use %SYSTEMDRIVE%
  sccm/core/plan-design/hierarchy/log-files.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1495 Fixed Logging Path
  sccm/sum/tools/updates-publisher-options.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#1481 Note WSUS Admin Console required on site server when SUP isn't installed local in design doc
  sccm/core/plan-design/configs/site-and-site-system-prerequisites.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1510 From private repo
  sccm/compliance/deploy-use/create-child-configuration-items.md
  sccm/core/get-started/capabilities-in-technical-preview-1805.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1456 Update use-a-pull-distribution-point.md
  sccm/core/plan-design/hierarchy/use-a-pull-distribution-point.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1460 Update install-and-configure-distribution-points.md
  sccm/core/servers/deploy/configure/install-and-configure-distribution-points.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1515 Update azure-template.md
  sccm/core/get-started/azure-template.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1519 Add Details about deployment Detail Level (Fixes #1253)
  sccm/sum/deploy-use/automatically-deploy-software-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#1521 Update calling-code-snippets.md
  sccm/develop/core/understand/calling-code-snippets.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1522 Fixed broken Silverlight Privacy Policy link
  sccm/core/misc/privacy/privacy-statement.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1531 From private repo
  sccm/comanage/quickstart-conditional-access.md
  sccm/comanage/workloads.md
  sccm/core/get-started/capabilities-in-technical-preview-1605.md
  sccm/core/plan-design/changes/features-and-capabilities.md
  sccm/core/plan-design/changes/whats-new-in-version-1606.md
  sccm/core/plan-design/diagnostics/levels-of-diagnostic-usage-data-collection-1802.md
  sccm/core/plan-design/diagnostics/levels-of-diagnostic-usage-data-collection-1806.md
  sccm/core/plan-design/diagnostics/levels-of-diagnostic-usage-data-collection-1810.md
  sccm/core/plan-design/diagnostics/levels-of-diagnostic-usage-data-collection-1902.md
  sccm/develop/reference/compliance/sms_advancedthreatprotectionsettings-server-wmi-class.md
  sccm/develop/reference/core/clients/manage/sms_g_system_advancedthreatprotectionhealthstatus-server-wmi-class.md
  sccm/index.md
  sccm/protect/TOC.yml
  sccm/protect/deploy-use/endpoint-protection.md
  sccm/protect/deploy-use/windows-defender-advanced-threat-protection.md
  sccm/protect/plan-design/planning-for-endpoint-protection.md
Labels: do-not-merge

#1534 Add important note regarding "Run from DP" option
  sccm/osd/understand/task-sequence-steps.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#1536 May 13 in-console-documentation update.
  sccm/core/misc/in-console-documentation.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1539 Scheduled Task Name has changed
  sccm/sum/deploy-use/manage-office-365-proplus-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#1540 From private repo
  sccm/core/plan-design/hierarchy/ports.md
  sccm/core/support/support-center.md
  sccm/desktop-analytics/overview.md
  sccm/osd/deploy-use/deploy-a-task-sequence.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1451 Updated the licensing terms
  sccm/desktop-analytics/overview.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1459 Grammar issues and tip added about user categories
  sccm/apps/deploy-use/create-applications.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#1499 Added links to PowerShell cmdlets
  sccm/core/clients/manage/collections/create-collections.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1500 Added links to manage Collections with PowerShell
  sccm/core/clients/manage/collections/manage-collections.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1501 Added links to PowerShell cmdlets for Maintenance Windows
  sccm/core/clients/manage/collections/use-maintenance-windows.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1503 Reviewed for accuracy
  sccm/core/clients/manage/inventory/introduction-to-hardware-inventory.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1543 Update deploy-software-updates.md
  sccm/sum/deploy-use/deploy-software-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1544 From private repo
  sccm/core/clients/manage/asset-intelligence/product-lifecycle-dashboard.md
  sccm/core/get-started/2019/includes/1904/3555935.md
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/desktop-analytics/about-deployment-plans.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1551 From private repo
  sccm/core/TOC.yml
  sccm/core/misc/in-console-documentation.md
  sccm/core/plan-design/configs/site-size-performance-guidelines.md
  sccm/core/understand/site-size-performance-faq.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1562 [WTD] Update monitor-app-usage-with-software-metering.md
  sccm/apps/deploy-use/monitor-app-usage-with-software-metering.md
Labels: :book: Write the Docs, Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#1563 Update example-scenario-for-deploying-and-managing-clients-on-windows…
  sccm/core/clients/deploy/example-scenario-for-deploying-and-managing-clients-on-windows-embedded-devices.md
Labels: :book: Write the Docs, Change sent to author, configmgr-client/tech, configuration-manager/prod, do-not-merge

#1566 [WTD] editing for gender inclusive
  sccm/mdt/toolkit-reference.md
Labels: :book: Write the Docs, Change sent to author, configuration-manager/prod, do-not-merge

#1565 [WTD] editing to confirm the gender inclusive
  sccm/mdm/deploy-use/manage-mobile-devices-with-exchange-activesync.md
Labels: :book: Write the Docs, Change sent to author, configmgr-hybrid/tech, configuration-manager/prod, do-not-merge

#1564 [WTD] gender inclusive writing
  sccm/mdm/deploy-use/enroll-devices-with-device-enrollment-manager.md
Labels: :book: Write the Docs, Change sent to author, configmgr-hybrid/tech, configuration-manager/prod, do-not-merge

#1559 Removed locale from docs.microsoft.com URLs
  sccm/core/get-started/capabilities-in-technical-preview-1612.md
  sccm/core/get-started/capabilities-in-technical-preview-1706.md
  sccm/core/get-started/capabilities-in-technical-preview-1709.md
  sccm/core/get-started/capabilities-in-technical-preview-1806-2.md
  sccm/core/plan-design/changes/whats-new-in-version-1806.md
  sccm/core/plan-design/hierarchy/accounts.md
  sccm/core/servers/deploy/configure/sql-server-alwayson-for-a-highly-available-site-database.md
  sccm/develop/core/reqs/server-runtime-requirements.md
  sccm/develop/core/understand/sqlviews/software-inventory-views-configuration-manager.md
  sccm/sum/deploy-use/manage-office-365-proplus-updates.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1458 Add PowerShell Cmd-let equivalent
  sccm/osd/get-started/manage-operating-system-images.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#1497 Corrected CCMSETUP.LOG location and Added Uninstall Tip
  sccm/core/clients/manage/manage-clients.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1502 Shortened Title
  sccm/core/TOC.yml
  sccm/core/clients/manage/collections/automatically-categorize-devices-into-collections.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1508 PowerShell Examples Resolved
  sccm/core/clients/manage/inventory/hardware-inventory-for-linux-and-unix.md
  sccm/develop/core/understand/configuration-manager-programming-fundamentals.md
  sccm/develop/core/understand/connecting-to-configuration-manager-with-windows-powershell.md
  sccm/develop/core/understand/getting-started-with-configuration-manager-programming.md
  sccm/develop/core/understand/windows-powershell-basics.md
  sccm/develop/reference/osd/sms_tasksequence_softwareconditionexpression-server-wmi-class.md
  sccm/mdt/troubleshooting-reference.md
Labels: Change sent to author, configuration-manager/prod, ready-to-merge

#1545 Update manage-apps-from-the-windows-store-for-business.md
  sccm/apps/deploy-use/manage-apps-from-the-windows-store-for-business.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#1567 Inserted a PowerShell code sample to set the internet-based Management Point
  sccm/core/clients/deploy/deploy-clients-to-windows-computers.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1511 Update quickstart-upgrade-win10.md
  sccm/comanage/quickstart-upgrade-win10.md
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#1512 Update use-device-guard-with-configuration-manager.md
  sccm/protect/deploy-use/use-device-guard-with-configuration-manager.md
Labels: Change sent to author, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#1517 Update troubleshoot-endpoint-client.md
  sccm/protect/deploy-use/troubleshoot-endpoint-client.md
Labels: Change sent to author, configmgr-protect/tech, configuration-manager/prod, ready-to-merge

#1520 Update how-to-connect-to-an-sms-provider-in-configuration-manager-by-…
  sccm/develop/core/understand/how-to-connect-to-an-sms-provider-in-configuration-manager-by-using-wmi.md
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, ready-to-merge

#1455 Update log-files.md
  sccm/core/plan-design/hierarchy/log-files.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1552 Update create-a-task-sequence-to-upgrade-an-operating-system.md
  sccm/osd/deploy-use/create-a-task-sequence-to-upgrade-an-operating-system.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#1569 [WTD] finish up items in the list
  sccm/core/understand/introduction.md
Labels: :book: Write the Docs, Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge

#1582 From private repo
  sccm/apps/pcm/troubleshoot-pcm.md
  sccm/apps/plan-design/plan-for-and-configure-application-management.md
  sccm/comanage/coexistence.md
  sccm/core/TOC.yml
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/get-started/2019/includes/1905/3127336.md
  sccm/core/get-started/2019/includes/1905/3555759.md
  sccm/core/get-started/2019/includes/1905/3555858.md
  sccm/core/get-started/2019/includes/1905/3555907.md
  sccm/core/get-started/2019/includes/1905/3555950.md
  sccm/core/get-started/2019/includes/1905/3555953.md
  sccm/core/get-started/2019/includes/1905/3555962.md
  sccm/core/get-started/2019/includes/1905/3601034.md
  sccm/core/get-started/2019/includes/1905/3607475.md
  sccm/core/get-started/2019/includes/1905/3612274.md
  sccm/core/get-started/2019/includes/1905/3734426.md
  sccm/core/get-started/2019/includes/1905/3976435.md
  sccm/core/get-started/2019/includes/1905/4063773.md
  sccm/core/get-started/2019/includes/1905/4110109.md
  sccm/core/get-started/2019/includes/1905/4224401.md
  sccm/core/get-started/2019/includes/1905/4224910.md
  sccm/core/get-started/2019/includes/1905/4336307.md
  sccm/core/get-started/2019/includes/1905/4402180.md
  sccm/core/get-started/2019/includes/1905/4485509.md
  sccm/core/get-started/2019/includes/1905/4512937.md
  sccm/core/get-started/2019/includes/1905/4526580.md
  sccm/core/get-started/2019/includes/1905/4616810.md
  sccm/core/get-started/2019/media/3555759-do-source.png
  sccm/core/get-started/2019/media/3555962-onetrace.png
  sccm/core/get-started/2019/media/3612274-tsdebug.png
  sccm/core/get-started/2019/technical-preview-1901.md
  sccm/core/get-started/2019/technical-preview-1905.md
  sccm/core/get-started/capabilities-in-technical-preview-1708.md
  sccm/core/get-started/capabilities-in-technical-preview-1709.md
  sccm/core/get-started/technical-preview.md
  sccm/core/plan-design/changes/deprecated/removed-and-deprecated-cmfeatures.md
  sccm/core/plan-design/configs/support-for-windows-10.md
  sccm/core/plan-design/hierarchy/plan-for-the-sms-provider.md
  sccm/core/servers/deploy/configure/site-server-high-availability.md
  sccm/mdm/understand/whats-new-in-hybrid-mobile-device-management.md
Labels: do-not-merge

#1417 Don't use the default install directory
  sccm/core/servers/deploy/install/use-the-setup-wizard-to-install-sites.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1588 From private repo
  sccm/apps/deploy-use/create-deploy-scripts.md
  sccm/comanage/azure-ccmsetup.md
  sccm/comanage/media/AADInstallWF.png
  sccm/comanage/media/AADRegWF.png
  sccm/core/clients/manage/cmg/certificates-for-cloud-management-gateway.md
  sccm/mdm/deploy-use/media/AADInstallWF.png
  sccm/mdm/deploy-use/media/AADRegWF.png
  sccm/mdm/media/AADInstallWF.png
  sccm/mdm/media/AADRegWF.png
Labels: Change sent to author, configmgr-client/tech, configuration-manager/prod, do-not-merge

#1504 Added PowerShell examples to compliment the existing VBScript
  sccm/apps/deploy-use/create-applications.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#1558 Added tip on run scripts.
  sccm/apps/deploy-use/packages-and-programs.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#1586 Fixed bad bookmark link in Overview section.
  sccm/core/plan-design/choose-a-device-management-solution.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, ready-to-merge

#1584 Added Copy Application as an available task
  sccm/apps/deploy-use/management-tasks-applications.md
Labels: Change sent to author, configmgr-app/tech, configuration-manager/prod, ready-to-merge

#1592 From private repo
  sccm/apps/deploy-use/app-approval.md
  sccm/comanage/azure-ccmsetup.md
  sccm/comanage/media/AADInstallWF.png
  sccm/comanage/media/AADRegWF.png
  sccm/comanage/workloads.md
  sccm/core/TOC.yml
  sccm/core/clients/manage/azure-ccmsetup.md
  sccm/core/clients/manage/media/azure-ad-install-workflow.png
  sccm/core/clients/manage/media/azure-ad-registration-workflow.png
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/servers/deploy/configure/install-and-configure-distribution-points.md
  sccm/core/servers/manage/cmpivot.md
  sccm/desktop-analytics/tutorial-windows10.md
  sccm/develop/reference/TOC.yml
  sccm/develop/reference/core/servers/configure/setdpmaintenancemode-method-in-class-sms-distributionpointinfo.md
  sccm/develop/reference/core/servers/configure/sms_distributionpoint-server-wmi-class.md
  sccm/develop/reference/core/servers/configure/sms_distributionpointinfo-server-wmi-class.md
  sccm/mdm/deploy-use/media/AADInstallWF.png
  sccm/mdm/deploy-use/media/AADRegWF.png
  sccm/mdm/media/AADInstallWF.png
  sccm/mdm/media/AADRegWF.png
Labels: Change sent to author, configmgr-sdk/tech, configuration-manager/prod, do-not-merge

#1596 From private repo
  sccm/core/TOC.yml
  sccm/core/plan-design/changes/whats-new-in-version-1902.md
  sccm/core/plan-design/hierarchy/enhanced-http.md
  sccm/core/plan-design/hierarchy/interoperability-between-different-versions.md
  sccm/core/plan-design/security/cryptographic-controls-technical-reference.md
  sccm/core/plan-design/security/enable-tls-1-2.md
  sccm/mdm/understand/whats-new-in-hybrid-mobile-device-management.md
  sccm/osd/TOC.yml
  sccm/osd/deploy-use/use-pxe-to-deploy-windows-over-the-network.md
  sccm/osd/get-started/includes/wim-apply-updates.md
  sccm/osd/get-started/manage-operating-system-images.md
  sccm/osd/plan-design/planning-for-operating-system-deployment-interoperability.md
  sccm/osd/understand/install-software-updates.md
  sccm/osd/understand/media/3197824-client-flow.png
  sccm/osd/understand/media/3197824-ts-flow.png
  sccm/osd/understand/provisioning-mode.md
  sccm/osd/understand/task-sequence-steps.md
  sccm/protect/deploy-use/scenarios-endpoint-protection.md
  sccm/sum/understand/software-updates-icons.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#1600 From private repo
  sccm/apps/TOC.yml
  sccm/apps/deploy-use/app-approval.md
  sccm/apps/deploy-use/deploy-applications.md
  sccm/apps/deploy-use/import-export-applications.md
  sccm/apps/deploy-use/troubleshoot-application-deployment.md
  sccm/core/servers/deploy/configure/install-and-configure-distribution-points.md
  sccm/osd/understand/provisioning-mode.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#1605 From private repo
  sccm/core/plan-design/configs/supported-operating-systems-for-site-system-servers.md
  sccm/core/plan-design/security/enable-tls-1-2.md
  sccm/core/servers/deploy/install/list-of-prerequisite-checks.md
  sccm/desktop-analytics/enroll-devices.md
Labels: Change sent to author, configmgr-other/tech, configuration-manager/prod, do-not-merge
