Repository MicrosoftDocs/SCCMdocs, pull requests merged in 2020-04, with the labels that each got.

#2289 From private repo
  sccm/comanage/quickstart-hybrid-aad.md
  sccm/core/TOC.yml
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/clients/deploy/deploy-clients-to-windows-computers.md
  sccm/core/get-started/2019/technical-preview-1911.md
  sccm/core/get-started/2020/includes/2002-2/3555758.md
  sccm/core/get-started/2020/includes/2003/3180826.md
  sccm/core/get-started/2020/includes/2003/4261411.md
  sccm/core/get-started/2020/includes/2003/5691658.md
  sccm/core/get-started/2020/includes/2003/5907383.md
  sccm/core/get-started/2020/includes/2003/6448458.md
  sccm/core/get-started/2020/includes/2003/6452769.md
  sccm/core/get-started/2020/includes/2003/6488450.md
  sccm/core/get-started/2020/includes/2003/6518631.md
  sccm/core/get-started/2020/includes/2003/6521835.md
  sccm/core/get-started/2020/media/3180826-add-more-details.png
  sccm/core/get-started/2020/media/3180826-describe-issue.png
  sccm/core/get-started/2020/media/3180826-provide-feedback-complete.png
  sccm/core/get-started/2020/media/3180826-send-a-smile.png
  sccm/core/get-started/2020/media/4261411-remediation-history.png
  sccm/core/get-started/2020/media/5691658-assign-atp-policy.png
  sccm/core/get-started/2020/media/5691658-create-atp-policy.png
  sccm/core/get-started/2020/media/5907383-preferred-browser-chart.png
  sccm/core/get-started/2020/media/6518631-device-pivot.png
  sccm/core/get-started/2020/technical-preview-2003.md
  sccm/core/get-started/technical-preview.md
  sccm/core/misc/user-experience-analytics-preview.md
  sccm/osd/deploy-use/create-bootable-media.md
  sccm/osd/deploy-use/create-prestaged-media.md
Labels: Change sent to author, configmgr-osd/tech, configuration-manager/prod, do-not-merge

#2244 Update integrate-windows-update-for-business-windows-10.md
  sccm/sum/deploy-use/integrate-windows-update-for-business-windows-10.md
Labels: Change sent to author, aq-pr-triaged, configmgr-sum/tech, configuration-manager/prod, ready-to-merge

#2304 From private repo
  sccm/core/clients/deploy/about-client-settings.md
  sccm/core/clients/deploy/deploy-clients-cmg-token.md
  sccm/core/clients/manage/cmg/plan-cloud-management-gateway.md
  sccm/core/misc/user-experience-analytics-preview.md
  sccm/core/plan-design/configs/support-for-sql-server-versions.md
  sccm/core/plan-design/hierarchy/use-a-cloud-based-distribution-point.md
  sccm/core/plan-design/network/internet-endpoints.md
  sccm/core/servers/deploy/configure/azure-services-wizard.md
  sccm/core/servers/manage/updates.md
  sccm/core/understand/use-docs.md
  sccm/develop/adminservice/release-notes.md
  sccm/osd/understand/media/condition-custom-task-sequence-variable.png
  sccm/osd/understand/media/run-powershell-script-example-language.png
  sccm/osd/understand/task-sequence-steps.md
  sccm/osd/understand/using-task-sequence-variables.md
  sccm/sum/deploy-use/monitor-software-updates.md
  sccm/sum/deploy-use/optimize-windows-10-update-delivery.md
  sccm/sum/deploy-use/third-party-software-updates.md
Labels: do-not-merge

#2306 From private repo
  sccm/core/get-started/capabilities-in-technical-preview-1609.md
  sccm/core/get-started/capabilities-in-technical-preview-1612.md
  sccm/core/get-started/capabilities-in-technical-preview-1702.md
  sccm/core/misc/user-experience-analytics-preview.md
  sccm/core/plan-design/changes/whats-new-in-version-2002.md
  sccm/core/servers/manage/checklist-for-installing-update-2002.md
  sccm/core/servers/manage/cmpivot.md
  sccm/core/servers/manage/planning-for-reporting.md
  sccm/core/servers/manage/powerbi-report-server.md
  sccm/develop/adminservice/faq.md
  sccm/osd/understand/user-experience.md
Labels: do-not-merge

#2310 From private repo
  sccm/tenant-attach/device-sync-actions.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#2313 From private repo
  sccm/core/servers/deploy/install/release-notes.md
  sccm/sum/deploy-use/office-365-dashboard.md
Labels: Change sent to author, configmgr-sum/tech, configuration-manager/prod, do-not-merge

#2317 From private repo
  sccm/apps/deploy-use/create-app-groups.md
  sccm/compliance/deploy-use/create-custom-configuration-items-for-windows-desktop-and-server-computers-managed-with-the-client.md
Labels: Change sent to author, configmgr-compliance/tech, configuration-manager/prod, do-not-merge

#2318 From private repo
  sccm/comanage/workloads.md
  sccm/core/misc/user-experience-analytics-preview.md
  sccm/core/servers/manage/updates.md
Labels: Change sent to author, configmgr-core/tech, configuration-manager/prod, do-not-merge

#2297 Anti-malware warning for Run PowerShell Script TS Step
  sccm/osd/understand/task-sequence-steps.md
Labels: Change sent to author, aq-pr-triaged, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#2308 Update windows-autopilot-for-existing-devices.md
  sccm/osd/deploy-use/windows-autopilot-for-existing-devices.md
Labels: Change sent to author, aq-pr-triaged, configmgr-osd/tech, configuration-manager/prod, ready-to-merge

#2322 From private repo
  .openpublishing.redirection.json
  sccm/apps/deploy-use/media/4561024-edge-settings-wizard.png
  sccm/apps/deploy-use/media/run-scripts/RS-run-scripts-work-flow.png
  sccm/comanage/media/3555750-co-management-enablement-tab.png
  sccm/comanage/media/blastoff-icon.png
  sccm/comanage/media/thumbnail-migrate-hybrid-mdm.png
  sccm/compliance/deploy-use/create-configuration-items-for-windows-10-devices-managed-with-the-client.md
  sccm/core/clients/manage/cmg/plan-cloud-management-gateway.md
  sccm/core/clients/manage/media/co-management-arch.svg
  sccm/core/get-started/capabilities-in-technical-preview-1605.md
  sccm/core/get-started/capabilities-in-technical-preview-1707.md
  sccm/core/get-started/capabilities-in-technical-preview-1710.md
  sccm/core/get-started/includes/1358270.md
  sccm/core/get-started/media/Red_X.gif
  sccm/core/misc/media/uea-startup-performance.png
  sccm/core/plan-design/changes/media/3555774-cmg-cost-estimator.png
  sccm/core/plan-design/configs/media/forward.png
  sccm/core/servers/manage/media/1810-feedback-form.PNG
  sccm/core/servers/manage/media/1810-send-a-smile.png
  sccm/core/servers/manage/media/sort-and-group.png
  sccm/core/servers/manage/replication/media/overview.svg
  sccm/core/servers/manage/replication/media/sql-performance.svg
  sccm/core/understand/software-center.md
  sccm/desktop-analytics/enroll-devices.md
  sccm/desktop-analytics/media/device-list-properly-enrolled.png
  sccm/develop/reference/core/servers/configure/sms_sci_sqltask-server-wmi-class.md
  sccm/mdt/media/MDT2013ReleaseNotesImage1.jpg
  sccm/mdt/media/MDT2013ReleaseNotesImage2.png
  sccm/mdt/toolkit-reference.md
  sccm/mdt/troubleshooting-reference.md
  sccm/protect/deploy-use/create-deploy-application-guard-policy.md
  sccm/sum/media/uup-preview-client-settings.png
Labels: do-not-merge

#2323 Update cloud-management-gateway-faq.md
  sccm/core/clients/manage/cmg/cloud-management-gateway-faq.md
Labels: Change sent to author, aq-pr-triaged, configmgr-client/tech, configuration-manager/prod, ready-to-merge

#2326 From private repo
  sccm/comanage/tutorial-co-manage-new-devices.md
  sccm/compliance/deploy-use/create-configuration-items.md
  sccm/compliance/plan-design/common-tasks-for-managing-compliance.md
  sccm/core/clients/deploy/example-scenario-for-deploying-and-managing-clients-on-windows-embedded-devices.md
  sccm/core/clients/manage/manage-clients-internet.md
  sccm/core/get-started/capabilities-in-technical-preview-1601.md
  sccm/core/get-started/capabilities-in-technical-preview-1610.md
  sccm/core/plan-design/changes/whats-new-in-version-1602.md
  sccm/core/plan-design/changes/whats-new-in-version-1606.md
  sccm/core/plan-design/changes/whats-new-in-version-1610.md
  sccm/core/plan-design/changes/whats-new-in-version-1710.md
  sccm/core/plan-design/configs/supported-configurations.md
  sccm/core/plan-design/security/security-and-privacy.md
  sccm/core/servers/manage/checklist-for-installing-update-1602.md
  sccm/core/servers/manage/checklist-for-installing-update-1606.md
  sccm/core/servers/manage/use-alerts-and-the-status-system.md
  sccm/core/servers/manage/use-the-hotfix-installer-to-install-updates.md
  sccm/core/understand/fundamentals-of-role-based-administration.md
  sccm/desktop-analytics/enable-data-sharing.md
  sccm/desktop-analytics/enroll-devices.md
  sccm/desktop-analytics/group-policy-settings.md
  sccm/desktop-analytics/toc.yml
  sccm/osd/deploy-use/manage-windows-as-a-service.md
  sccm/protect/TOC.yml
  sccm/protect/deploy-use/bitlocker/encrypt-recovery-data.md
  sccm/protect/deploy-use/scenarios-endpoint-protection.md
  sccm/protect/plan-design/bitlocker-management.md
Labels: Change sent to author, configmgr-protect/tech, configuration-manager/prod, do-not-merge
